<style type="text/css">
    .img-termos {
        width: 90%;
        max-width: 300px;
    }
    .termos-footer-txt {
        color: grey;
        margin-bottom: 5%;
    }
</style>

<div class="titulo-header">
    Bem vindo ao EscolaVerde
</div>
<img id="img" src="img/ev.png" class="img-termos centralizar-elemento-na-tela">
<div class="termos-footer">
    <div class="termos-footer-txt">
        Toque em "Continuar" para iniciar o EscolaVerde
    </div>
    <a class="waves-effect waves-light btn" href="#inserir-numero">Continuar</a>
</div>