<style type="text/css">
body {
	overflow-x: hidden;
}
.header-batalhas {
	min-height: 30px;
	width: calc(100% + 200px);
	margin-left: -100px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.icon-swords {

}
.txt-batalhas {
	font-size: 14pt;
}

.div-btn-batalhas {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
a .mdi {
	margin-right: 10px;
}
.div-detalhes-batalha {
	border-bottom: 1px solid grey;
	position: relative;
	padding: 10px;
	margin: 20px 0 10px;
	background: url(img/x3.png) no-repeat center;
	background-size: 190px;
}
.data-batalha {
	display: block;
	text-align: center;
	font-size: 8pt;
	color: grey;
}
.div-pts-batalha * {
	margin: 3px;
}
.div-pts-batalha {
	display: flex;
	justify-content: space-between;
}
.div-batalha-user-1 {
	display: flex;
	align-items: center;
	justify-content: inherit;
	flex: 1;
}
.div-batalha-user-2 {
	display: flex;
	align-items: center;
	justify-content: inherit;
	flex: 1;
}
.img-user-batalha {
	height: 40px;
	width: 40px !important;
	border: 1px solid black;
	border-radius: 50%;
	flex-shrink: 0;
}
.pts-batalha {
	font-size: 27pt;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}
.nome-user .nome {
	display: block;
	line-height: 1.2;
}
.nome-user .pts {
	color: grey;
	font-size: 8pt;
}
.revisar-batalha {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: grey;
	padding-top: 7px;
	padding-bottom: 2px;
}
.revisar-batalha i {
	margin: 0 8px 0 0;
	font-size: 1.5rem;
}
.revisar-batalha span {
	vertical-align: bottom;
}
.tabs-batalhas {
	display: flex;
	background-color: #00897b !important;
	height: 40px;
}
.tabs-batalhas div {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 7px 0;
}
.tabs-batalhas:before {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-left: -100%;
}
.tabs-batalhas:after {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-right: -100%;
}
.tabs-batalhas .tab {
	transition: border-bottom 1s;
}
.tabs-batalhas .t1 {
	border-bottom: 1px solid yellow;
}
.user-ranking {
	position: relative;
}
.user-ranking .pts {
	position: absolute;
	right: 0;
	top: 8px;
	font-size: 10pt;
	color: grey;
}
.user-ranking .container {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.user-ranking .container .position {
	margin-right: 10px;
	font-size: 14pt;
	color: grey;
	font-weight: 500;
}
.user-ranking:nth-child(1) .container .position{
	margin-right: 10px;
	font-size: 25pt;
	color: gold;/* #fdd835; */
	font-weight: 900;
}
.user-ranking:nth-child(2) .container .position {
	margin-right: 10px;
	font-size: 25pt;
	color: silver;
	font-weight: 900;
}
.user-ranking:nth-child(3) .container .position {
	margin-right: 10px;
	font-size: 25pt;
	color: ‎burlywood;
	font-weight: 900;
}
.user-ranking .container .img-user-batalha {
	margin-right: 10px;
}
.user-ranking .container .escola {
	color: grey;
	font-size: 8pt;
}
.user-ranking:nth-child(1) .container .nome {
	color: #26a69a;
}
.user-ranking:nth-child(2) .container .nome {
	color: #26a69a;
}
.user-ranking:nth-child(3) .container .nome {
	color: #26a69a;
}
.user-ranking .container .nome {
	font-weight: 500;
}
.nme-colegio span {
	display: block;
}
.nme-colegio .nome {
	color: black;
}
.user-ranking .img-user-batalha {
	height: 35px !important;
	width: 35px !important;
}
.tipos-batalha {
	font-weight: bold;
	font-size: 15px;
	color: #4db6ac !important;
	display: block;
	margin-top: 45px;
}
.revisar-batalha .material-icons {
	vertical-align: bottom;
}
.container-item-rank {
	margin-left: 0;
	margin-right: 0;
}
.nenhuma-bat {
	font-weight: 500;
	color: gray;
	margin-left: 10px;
	text-align: center;
	margin-top: 30px;
}
.btn-mostrar-mais {
	width: 100%;
	margin-bottom: 10px;
}
</style>

<div class="tabs-batalhas">
	<div id="tab-batalhas" class="tab t1">Batalhas</div>
	<div id="tab-ranking" class="tab">Ranking</div>
</div>
<div class="tab-body body-batalhas">
	<div class="header-batalhas teal lighten-2">
		<div class="icon-swords">
			<i class="mdi mdi-sword-cross mdi-48px"></i>
			<br>
			<span class="txt-batalhas">Batalhas</span>
		</div>
	</div>

	<div class="div-btn-batalhas">
		<a id="btn-procurar-oponente" href="#procurando-oponente" class="btn"><i class="mdi mdi-sword-cross"></i>Procurar oponente</a>
	</div>

	{{if ~nenhumaBatalha(data.aguardando.length, data.sua_vez.length, data.finalizadas.length)}}
	<div class="nenhuma-bat">
		Você ainda não tem nenhuma batalha.
	</div>
	{{/if}}


	{{if data.sua_vez.length > 0}}
	<span class="tipos-batalha sua-vez">Sua vez</span>
	{{/if}}

	<div id="container-sua-vez">
		{{for data.sua_vez}}
		<div class="div-detalhes-batalha">
			<span class="data-batalha">{{formataData:data}}</span>
			<div class="div-pts-batalha">
				<div class="div-batalha-user-1">
					<div class="img-user-batalha circle-img"
						 {{if oponente_1.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_1.fotoPerfil}}')"
						 {{/if}}
					></div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span>
						<!-- <span class="pts">120 pts</span> -->
					</div>
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
				</div>
				<div class="div-batalha-user-2">
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span>
						<!-- <span class="pts">380 pts</span> -->
					</div>
					<div class="img-user-batalha circle-img"
						 {{if oponente_2.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_2.fotoPerfil}}')"
						 {{/if}}
					></div>
				</div>
			</div>
			<div class="divider"></div>
			<a class="revisar-batalha btn-responder" href="#continuar-batalha?{{:id}}" data-id-batalha="{{:id}}"><span><i class="material-icons small">edit</i>Responder</span></a>
		</div>
		{{/for}}
	</div>

	{{if data.sua_vez.length == 3}}
	<div id="container-btn-mais-sua-vez">
		<a class="waves-effect waves-light btn btn-mostrar-mais"><i class="material-icons left">add</i>mais</a>
		<div class="container-loading mostrar-mais-loading hide">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}


	{{if data.aguardando.length > 0}}
	<span class="tipos-batalha aguardando">Aguardando oponente</span>
	{{/if}}

	<div id="container-aguardando">
		{{for data.aguardando}}
		<div class="div-detalhes-batalha">
			<span class="data-batalha">{{formataData:data}}</span>
			<div class="div-pts-batalha">
				<div class="div-batalha-user-1">
					<div class="img-user-batalha circle-img"
						 {{if oponente_1.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_1.fotoPerfil}}')"
						 {{/if}}
					></div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span>
						<!-- <span class="pts">120 pts</span> -->
					</div>
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
				</div>
				<div class="div-batalha-user-2">
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span>
						<!-- <span class="pts">380 pts</span> -->
					</div>
					<div class="img-user-batalha circle-img"
						 {{if oponente_2.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_2.fotoPerfil}}')"
						 {{/if}}
					></div>
				</div>
			</div>
		</div>
		{{/for}}
	</div>

	{{if data.aguardando.length == 3}}
	<div id="container-btn-mais-aguardando">
		<a class="waves-effect waves-light btn btn-mostrar-mais"><i class="material-icons left">add</i>mais</a>
		<div class="container-loading mostrar-mais-loading hide">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{if data.finalizadas.length > 0}}
	<span class="tipos-batalha finalizadas">Finalizadas</span>
	{{/if}}

	<div id="container-finalizadas">
		{{for data.finalizadas}}
		<div class="div-detalhes-batalha">
			<span class="data-batalha">{{formataData:data}}</span>
			<div class="div-pts-batalha">
				<div class="div-batalha-user-1">
					<div class="img-user-batalha circle-img"
						 {{if oponente_1.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_1.fotoPerfil}}')"
						 {{/if}}
					></div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span><span class="pts">120 pts</span></div>
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
				</div>
				<div class="div-batalha-user-2">
					<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
					<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span><span class="pts">380 pts</span></div>
					<div class="img-user-batalha circle-img"
						 {{if oponente_2.fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:oponente_2.fotoPerfil}}')"
						 {{/if}}
					></div>
				</div>
			</div>
			<div class="divider"></div>
			<a class="revisar-batalha btn-revisar" href="#revisar-batalha?{{:id}}" data-id-batalha="{{:id}}"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
		</div>
		{{/for}}
	</div>

	{{if data.finalizadas.length == 3}}
	<div id="container-btn-mais-finalizadas">
		<a class="waves-effect waves-light btn btn-mostrar-mais"><i class="material-icons left">add</i>mais</a>
		<div class="container-loading mostrar-mais-loading hide">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

</div>



<div class="tab-body body-ranking hide">
	<div class="header-batalhas teal lighten-2">
		<div class="icon-swords">
			<i class="mdi mdi-trophy mdi-48px"></i>
			<br>
			<span class="txt-batalhas">Ranking</span>
		</div>
	</div>

	<div id="rankings" class="rankings">

		

		<!-- Testes inicio -->
		<!-- Testes fim -->
	</div>
</div>
<!-- Fim -->

<script type="text/javascript">
	$("#nav").removeClass('hide');

	$(".tab").click(function () {
		console.log('clicou tab');
		$(".tab").css('border-bottom', 'none');
		$(this).css('border-bottom', '1px solid yellow');

		var id = $(this).attr('id').replace('tab-', '');
		$('.tab-body').addClass('hide');
		var body = 'body-' + id;
		$('.' + body + '').removeClass('hide');
	});

	// $('#tab-ranking').click();


	$(".btn-responder").click(function(event) {
		var id_batalha = $(this).attr('data-id-batalha');
		console.log('ID Batalha:', id_batalha);
	});

	$(".btn-revisar").click(function(event) {
		var id_batalha = $(this).attr('data-id-batalha');
		console.log('ID Batalha:', id_batalha);
	});

	$.get(host + 'usuario/getRanking', function (d) {
		var data = convertToJSON(d);
		var rank_tmpl = $.templates("#item-ranking");
		var html = rank_tmpl.render(data);
		$("#rankings").html(html);
	});

	// Mostrar mais inicio #######################################
	var qtd_por_vez = 3;
	var page_atual_sua_vez = 1;
	var page_atual_aguardando = 1;
	var page_atual_finalizadas = 1;

	var btn_mais_sua_vez = $("#container-btn-mais-sua-vez .btn-mostrar-mais");
	var btn_mais_aguardando = $("#container-btn-mais-aguardando .btn-mostrar-mais");
	var btn_mais_finalizadas = $("#container-btn-mais-finalizadas .btn-mostrar-mais");

	btn_mais_sua_vez.click(function(event) {
		console.log('mais sua vez');
		showLoadingMostrarMais(btn_mais_sua_vez, 'container-btn-mais-sua-vez');
		$.ajax({
			url: host + 'batalha/getBatalhasByUserSuaVez',
			data: {id: user.id, limit: qtd_por_vez, offset: (qtd_por_vez * page_atual_sua_vez)},
		})
		.done(function(d) {
			var data = convertToJSON(d);
			console.log("success mais sua vez:", data);
			$("#container-sua-vez").append(($.templates("#template-item-sua-vez")).render(data));
			if (data.length < qtd_por_vez) {
				$("#container-btn-mais-sua-vez").hide();
			}
			hideLoadingMostrarMais(btn_mais_sua_vez, 'container-btn-mais-sua-vez');
			page_atual_sua_vez++;
		})
		.fail(function(d) {
			console.log("error", d);
		});
	});

	btn_mais_aguardando.click(function(event) {
		console.log('mais aguardando');
		showLoadingMostrarMais(btn_mais_aguardando, 'container-btn-mais-aguardando');
		$.ajax({
			url: host + 'batalha/getBatalhasByUserAguardando',
			data: {id: user.id, limit: qtd_por_vez, offset: (qtd_por_vez * page_atual_aguardando)},
		})
		.done(function(d) {
			var data = convertToJSON(d);
			console.log("success mais aguardando:", data);
			$("#container-aguardando").append(($.templates("#template-item-aguardando")).render(data));
			if (data.length < qtd_por_vez) {
				$("#container-btn-mais-aguardando").hide();
			}
			hideLoadingMostrarMais(btn_mais_aguardando, 'container-btn-mais-aguardando');
			page_atual_aguardando++;
		})
		.fail(function(d) {
			console.log("error", d);
		});
	});

	btn_mais_finalizadas.click(function(event) {
		console.log('mais finalizadas');
		showLoadingMostrarMais(btn_mais_finalizadas, 'container-btn-mais-finalizadas');
		$.ajax({
			url: host + 'batalha/getBatalhasByUserFinalizadas',
			data: {id: user.id, limit: qtd_por_vez, offset: (qtd_por_vez * page_atual_finalizadas)},
		})
		.done(function(d) {
			var data = convertToJSON(d);
			console.log("success mais finalizadas:", data);
			$("#container-finalizadas").append(($.templates("#template-item-finalizadas")).render(data));
			if (data.length < qtd_por_vez) {
				$("#container-btn-mais-finalizadas").hide();
			}
			hideLoadingMostrarMais(btn_mais_finalizadas, 'container-btn-mais-finalizadas');
			page_atual_finalizadas++;
		})
		.fail(function(d) {
			console.log("error", d);
		});
	});

	function showLoadingMostrarMais (btn, container) {
		btn.hide();
		$("#" + container + " .container-loading.mostrar-mais-loading").removeClass("hide");
	}
	function hideLoadingMostrarMais (btn, container) {
		$("#" + container + " .container-loading.mostrar-mais-loading").addClass("hide");
		btn.show();
	}


	// Mostrar mais fim ##########################################

	
</script>