<style type="text/css">
body {
	overflow-x: hidden;
}
.header-batalhas {
	min-height: 30px;
	width: calc(100% + 200px);
	margin-left: -100px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.icon-swords {

}
.txt-batalhas {
	font-size: 14pt;
}

.div-btn-batalhas {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
a .mdi {
	margin-right: 10px;
}
.div-detalhes-batalha {
	border-bottom: 1px solid grey;
	position: relative;
	padding: 10px;
	margin: 25px 0;
	background: url(img/x3.png) no-repeat center;
	background-size: 190px;
}
.data-batalha {
	display: block;
	text-align: center;
	font-size: 8pt;
	color: grey;
}
.div-pts-batalha * {
	margin: 3px;
}
.div-pts-batalha {
	display: flex;
	justify-content: space-between;
}
.div-batalha-user-1 {
	display: flex;
	align-items: center;
}
.div-batalha-user-2 {
	display: flex;
	align-items: center;
}
.img-user-batalha {
	height: 40px;
	width: 40px !important;
	border: 1px solid black;
	border-radius: 50%;
}
.pts-batalha {
	font-size: 27pt;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}
.nome-user .nome {
	display: block;
	line-height: .4;
}
.nome-user .pts {
	color: grey;
	font-size: 8pt;
}
.revisar-batalha {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: grey;
	padding-top: 7px;
	padding-bottom: 2px;
}
.revisar-batalha i {
	margin: 0 8px 0 0;
	font-size: 1.5rem;
}
.revisar-batalha span {
	vertical-align: bottom;
}
.tabs-batalhas {
	display: flex;
	background-color: #00897b !important;
	height: 40px;
}
.tabs-batalhas div {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 7px 0;
}
.tabs-batalhas:before {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-left: -100%;
}
.tabs-batalhas:after {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-right: -100%;
}
.tabs-batalhas .tab {
	transition: border-bottom 1s;
}
.tabs-batalhas .t1 {
	border-bottom: 1px solid yellow;
}
.user-ranking {
	position: relative;
}
.user-ranking .pts {
	position: absolute;
	right: 0;
	top: 15px;
	font-size: 10pt;
	color: grey;
}
.user-ranking .container {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.user-ranking .container .position {
	margin-right: 10px;
	font-size: 14pt;
	color: grey;
	font-weight: 500;
}
.user-ranking:nth-child(1) .container .position{
	margin-right: 10px;
	font-size: 25pt;
	color: gold;/* #fdd835; */
	font-weight: 900;
}
.user-ranking:nth-child(2) .container .position {
	margin-right: 10px;
	font-size: 25pt;
	color: silver;
	font-weight: 900;
}
.user-ranking:nth-child(3) .container .position {
	margin-right: 10px;
	font-size: 25pt;
	color: ‎burlywood;
	font-weight: 900;
}
.user-ranking .container .img-user-batalha {
	margin-right: 10px;
}
.user-ranking .container .escola {
	color: grey;
	font-size: 8pt;
}
.user-ranking:nth-child(1) .container .nome {
	color: #26a69a;
}
.user-ranking:nth-child(2) .container .nome {
	color: #26a69a;
}
.user-ranking:nth-child(3) .container .nome {
	color: #26a69a;
}
.user-ranking .container .nome {
	font-weight: 500;
}
.nme-colegio span {
	display: block;
}
.user-ranking .img-user-batalha {
	height: 35px !important;
	width: 35px !important;
}
</style>

<div class="tabs-batalhas">
	<div id="tab-batalhas" class="tab t1">Batalhas</div>
	<div id="tab-ranking" class="tab">Ranking</div>
</div>
<div class="tab-body body-batalhas">
	<div class="header-batalhas teal lighten-2">
		<div class="icon-swords">
			<i class="mdi mdi-sword-cross mdi-48px"></i>
			<br>
			<span class="txt-batalhas">Batalhas</span>
		</div>
	</div>

	<div class="div-btn-batalhas">
		<a href="#procurando-oponente" class="btn"><i class="mdi mdi-sword-cross"></i>Procurar oponente</a>
	</div>

	<div class="div-detalhes-batalha">
		<span class="data-batalha">12/12/2018 às 04:09</span>
		<div class="div-pts-batalha">
			<div class="div-batalha-user-1">
				<div class="img-user-batalha circle-img"></div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Ricardo</span><span class="pts">120 pts</span></div>
				<div class="pts-batalha teal-text text-lighten-1">8</div>
			</div>
			<div class="div-batalha-user-2">
				<div class="pts-batalha teal-text text-lighten-1">9</div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Regina</span><span class="pts">380 pts</span></div>
				<div class="img-user-batalha circle-img"></div>
			</div>
		</div>
		<div class="divider"></div>
		<a class="revisar-batalha"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
	</div>
	<!-- Inicio -->

	<div class="div-detalhes-batalha">
		<span class="data-batalha">12/12/2018 às 04:09</span>
		<div class="div-pts-batalha">
			<div class="div-batalha-user-1">
				<div class="img-user-batalha circle-img"></div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Ricardo</span><span class="pts">120 pts</span></div>
				<div class="pts-batalha teal-text text-lighten-1">8</div>
			</div>
			<div class="div-batalha-user-2">
				<div class="pts-batalha teal-text text-lighten-1">9</div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Regina</span><span class="pts">380 pts</span></div>
				<div class="img-user-batalha circle-img"></div>
			</div>
		</div>
		<div class="divider"></div>
		<a class="revisar-batalha"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
	</div>
	<div class="div-detalhes-batalha">
		<span class="data-batalha">12/12/2018 às 04:09</span>
		<div class="div-pts-batalha">
			<div class="div-batalha-user-1">
				<div class="img-user-batalha circle-img"></div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Ricardo</span><span class="pts">120 pts</span></div>
				<div class="pts-batalha teal-text text-lighten-1">8</div>
			</div>
			<div class="div-batalha-user-2">
				<div class="pts-batalha teal-text text-lighten-1">9</div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Regina</span><span class="pts">380 pts</span></div>
				<div class="img-user-batalha circle-img"></div>
			</div>
		</div>
		<div class="divider"></div>
		<a class="revisar-batalha"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
	</div>
	<div class="div-detalhes-batalha">
		<span class="data-batalha">12/12/2018 às 04:09</span>
		<div class="div-pts-batalha">
			<div class="div-batalha-user-1">
				<div class="img-user-batalha circle-img"></div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Ricardo</span><span class="pts">120 pts</span></div>
				<div class="pts-batalha teal-text text-lighten-1">8</div>
			</div>
			<div class="div-batalha-user-2">
				<div class="pts-batalha teal-text text-lighten-1">9</div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Regina</span><span class="pts">380 pts</span></div>
				<div class="img-user-batalha circle-img"></div>
			</div>
		</div>
		<div class="divider"></div>
		<a class="revisar-batalha"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
	</div>
	<div class="div-detalhes-batalha">
		<span class="data-batalha">12/12/2018 às 04:09</span>
		<div class="div-pts-batalha">
			<div class="div-batalha-user-1">
				<div class="img-user-batalha circle-img"></div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Ricardo</span><span class="pts">120 pts</span></div>
				<div class="pts-batalha teal-text text-lighten-1">8</div>
			</div>
			<div class="div-batalha-user-2">
				<div class="pts-batalha teal-text text-lighten-1">9</div>
				<div class="nome-user"><span class="nome teal-text text-lighten-2">Regina</span><span class="pts">380 pts</span></div>
				<div class="img-user-batalha circle-img"></div>
			</div>
		</div>
		<div class="divider"></div>
		<a class="revisar-batalha"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
	</div>
</div>
<div class="tab-body body-ranking hide">
	<div class="header-batalhas teal lighten-2">
		<div class="icon-swords">
			<i class="mdi mdi-trophy mdi-48px"></i>
			<br>
			<span class="txt-batalhas">Ranking</span>
		</div>
	</div>

	<div class="rankings">
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>

		<!-- Testes inicio -->
		<div class="user-ranking">
			<div class="container">
				<span class="position">2°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">3°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">4°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<div class="user-ranking">
			<div class="container">
				<span class="position">1°</span>
				<div class="img-user-batalha circle-img"></div>
				<div class="nme-colegio">
					<span class="nome">Ricardo</span>
					<span class="escola">Colégio Paulo Freire</span>
				</div>
			</div>
			<span class="pts">380 pts</span>
		</div>
		<!-- Testes fim -->
	</div>
</div>
<!-- Fim -->

<script type="text/javascript">
	$("#nav").removeClass('hide');

	$(".tab").click(function () {
		console.log('clicou tab');
		$(".tab").css('border-bottom', 'none');
		$(this).css('border-bottom', '1px solid yellow');

		var id = $(this).attr('id').replace('tab-', '');
		$('.tab-body').addClass('hide');
		var body = 'body-' + id;
		$('.' + body + '').removeClass('hide');
	});

	// $('#tab-ranking').click();

</script>