<style>

</style>
<div style="margin-top: 10%; margin-bottom: 10%;">
    <!--<img id="foto" style="display: block; margin: auto; width: 50%;" src="http://next.materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img center" > &lt;!&ndash; notice the "circle" class &ndash;&gt;-->
    <div id="div-foto" class="circle-div" style="margin: auto;"></div>
</div>
<div style="text-align: center;
    color: #26a69a;
    font-weight: 500; line-height: 0.8" class="titulo-header">
    <span id="bem-vindo">Bem vindo, {usuario}</span><br>
    <span id="colegio" style="font-size: 0.8rem; margin-top: -100%;" class="grey-text">Colégio Paulo Freire, Turma 6ª série A</span>
</div>

<div class="grey-text center" style="font-size: 1.2rem; margin-top: 30px;">
    Por favor, aguarde um instante. Estamos carregando seus dados.
</div>

<div id="div-loading" class="center" style="padding: 2%; margin-top: 20%;">
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<button id="mandar" class="button">Mandar</button>
<a id="inicio" href="#inicio" class="button">Inicio</a>
<script>
    $("#bem-vindo").html('Bem vindo, ' + localStorage.getItem('apelido'));
    $("#colegio").html(localStorage.getItem('escola') + ', ' + localStorage.getItem('turma'));
    if (localStorage.getItem('foto') !== 'null') {
        var d = new Date();
        $("#foto").attr('src', localStorage.getItem('foto') + '&t=' + d.getTime());
        $('#div-foto').css("background", "url('" + localStorage.getItem('foto') + '&t=' + d.getTime() + "') center");
    }

    $("#mandar").click(function () {
        var data = {
            telefone: localStorage.getItem('numero'),
            idEstado: localStorage.getItem('estado'),
            nomeCidade: localStorage.getItem('cidade'),
            nomeEscola: localStorage.getItem('escola'),
            nomeTurma: localStorage.getItem('turma'),
            apelido: localStorage.getItem('apelido')
        };

        console.log(data);
        $.ajax({
            url: host + 'app/criarPerfil',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (d) {
                if (typeof d !== 'object')
                    d = JSON.parse(d);
                console.log(d);
                if(d.response == 'true') {
                    localStorage.setItem('token', d.token);
                    localStorage.setItem('usuario', JSON.stringify(d.data));
                    myHistory = [];
                    window.location.hash = 'inicio';
                } else {
                    if (d.errno == '1062') {
                        alert('Número de telefone já existente');
                    }
                    window.location.hash = 'verificar-numero';
                }
            }, error: function (d) {
                console.log(d);
            }
        });
    });
</script>