<style>
    html {
        height: 100%;
    }

    body {
        position: relative;
        min-height: 100%;
        padding-bottom: 6rem;
    }

    .dropdown-content {
        z-index: 100;
    }

    #div-foto, #div-foto-bem-vindo {
        width: 130px;
        height: 130px;
        background-image: url('/img/default-user-image.png');
    }
</style>

<section id="add-nome-foto">
    <div class="titulo-header">
        Dados do perfil
    </div>

    <div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
        Por favor, forneça seu nome e uma foto para o perfil (opcional)
    </div>
    <div style="margin-top: 10%; margin-bottom: 10%;">
        <div id="div-foto" class="circle-img" style="margin: auto;"></div>
    </div>

    <form id="form-editar-nome-foto" method="post" enctype="multipart/form-data">
        <input id="input-foto-perfil" name="arquivo" type="file" style="display: none;" accept="image/*">
    </form>

    <form id="form-finalizar" class="col s12">
        <div class="input-field col s12">
            <input id="nome" type="text" class="validate">
            <label for="nome">Digite seu nome aqui...</label>
            <!--<span class="helper-text center">Seu nome não deve possuir espaços ou caracteres especiais</span>-->
        </div>
    </form>

    <div class="termos-footer">
        <a id="avancar" class="waves-effect waves-light btn" style="min-width: 250px;">Avançar</a>
    </div>
</section>

<section id="carregando-bem-vindo" class="hide">
    <div style="margin-top: 10%; margin-bottom: 10%;">
        <div id="div-foto-bem-vindo" class="circle-img" style="margin: auto;"></div>
    </div>
    <div style="text-align: center;
    color: #26a69a;
    font-weight: 500; line-height: 0.8" class="titulo-header">
        <span id="bem-vindo">Bem vindo, <span id="usuario-bem-vindo">Teste</span></span><br>
        <span id="colegio" style="font-size: 0.8rem; margin-top: -100%;" class="grey-text"><span id="colegio-bem-vindo">Colégio Paulo Freire</span>, Turma <span
                id="turma-bem-vindo">6ª série A</span></span>
    </div>

    <div class="grey-text center" style="font-size: 1.2rem; margin-top: 30px;">
        Por favor, aguarde um instante. Estamos carregando seus dados.
    </div>

    <div id="div-loading" class="center" style="padding: 2%; margin-top: 20%;">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button id="mandar" class="button">Mandar</button> -->
    <!-- <a id="inicio" class="button">Inicio</a> -->
</section>


<script>
    var user = convertToJSON(localStorage.getItem('usuario'));
    console.log(user);


    if (user.fotoPerfil !== null && user.fotoPerfil !== 'null') {
        $("#div-foto").css("background-image", "url('" + getUrlFotoPerfil(user) + "')");
        $("#div-foto-bem-vindo").css("background-image", "url('" + getUrlFotoPerfil(user) + "')");
    }

    $("#nome").val(user.nome);

    M.updateTextFields();

    $("#div-foto").click(function () {
        $("#input-foto-perfil").click();
    });

    $("#avancar").click(function () {
        var nome = $("#nome").val();
        if (nome < 3) {
            $("#nome").focus();
            return;
        }
        setTempItem('nome', nome);
        $.ajax({
            url: host + 'usuario/alterar-nome',
            dataType: 'json',
            data: {nome: nome},
        })
            .done(function(d) {
                var dataJSON = convertToJSON(d);
                console.log(dataJSON);
                user = dataJSON.user;
                localStorage.setItem('token', user.token);
                setarUsuario(user);
                location.hash = 'inicio';
            })
            .fail(function(d) {
                showToast(d);
                localStorage.setItem('token', user.token);
                location.hash = 'inicio';
            })
            .always(function() {
                console.log("complete");
            });
        //$("#form-editar-nome-foto").submit();
        // window.location.hash = 'bem-vindo';
    });

    $("#form-finalizar").submit(function (event) {
        event.preventDefault();
        $("#avancar").click();
    });

    $("#input-foto-perfil").change(function (e) {
        var formData = new FormData(document.getElementById("form-editar-nome-foto"));
        formData.append('numero', user.numTelefone);
        $.ajax({
            url: host + 'file/alterar-foto-perfil',
            type: 'POST',
            data: formData,
            success: function (data) {
                var dataJSON = convertToJSON(data);
                console.log('editar foto:', dataJSON);
                if (dataJSON.response === 'true') {
                    showToast("Foto alterada");
                    user.fotoPerfil = dataJSON.fotoPerfil;
                    localStorage.setItem('usuario', JSON.stringify(user));
                    if (user.fotoPerfil !== null && user.fotoPerfil !== 'null') {
                        console.log(getUrlFotoPerfil(user));
                        $("#div-foto").css("background-image", "url('" + getUrlFotoPerfil(user) + "')");
                        $("#div-foto-bem-vindo").css("background-image", "url('" + getUrlFotoPerfil(user) + "')");
                    }
                } else {
                    showToast(dataJSON.error);
                }
            }, error: function (d) {
                console.log(d);
            },
            cache: false,
            contentType: false,
            processData: false
        });


        // var file = e.target.files[0];
        // if (file) {
        //     var blob = URL.createObjectURL(file);
        //     $('#div-foto').css('background-image', "url('" + blob + "')");
        //     $('#div-foto-bem-vindo').css('background-image', "url('" + blob + "')");
        // }
    });

    $("#form-editar-nome-foto").submit(function (e) {
        e.preventDefault();

        $('#usuario-bem-vindo').html($("#nome").val());
        $('#colegio-bem-vindo').html(user.escola.nome);
        $('#turma-bem-vindo').html(user.turma.nome);

        $('#add-nome-foto').addClass('hide');
        $('#carregando-bem-vindo').removeClass('hide');

        var formData = new FormData(this);

        formData.append('nome', $("#nome").val());
        formData.append('id', user.id);


        $.ajax({
            url: host + 'usuario/editarNomeFoto',
            type: 'POST',
            data: formData,
            success: function (data) {
                var dataJSON = convertToJSON(data);
                console.log('editar nome foto data:', dataJSON);
                if (dataJSON.response == 'true') {

                    localStorage.setItem('usuario', JSON.stringify(dataJSON.data));

                    toDataURL('https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=' + dataJSON.data.id, function (dataUrl) {
                        console.log('qr code:', dataUrl);
                        localStorage.setItem('qr-code-img', dataUrl);
                    });

                    if (device.platform != "browser") {
                        app.registerPush(function (d) {
                            var datajson = convertToJSON(d);
                            console.log("push id registrado no server backend:", datajson);
                            myHistory = [];
                            location.hash = 'inicio';
                        });
                    } else {
                        setTimeout(function (argument) {
                            myHistory = [];
                            location.hash = 'inicio';
                        }, 1000);
                    }

                    // setTimeout(function (argument) {
                    //     myHistory = [];
                    //     location.hash = 'inicio';
                    // }, 1000);

                } else {
                    $("#inicio").click();
                }

            }, error: function (d) {
                alert('Houve um erro na solicitação');
                console.log(d);
                $("#inicio").click();
            },
            cache: false,
            contentType: false,
            processData: false,
            xhr: function () {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) { // Avalia se tem suporte a propriedade upload
                    myXhr.upload.addEventListener('progress', function () {
                        /* faz alguma coisa durante o progresso do upload */
                    }, false);
                }
                return myXhr;
            }
        });
    });

    $("#inicio").click(function () {
        $('#carregando-bem-vindo').addClass('hide');
        $('#add-nome-foto').removeClass('hide');
    });

</script>
