<style>
    html {
        height: 100%;
    }

    body {
        position: relative;
        min-height: 100%;
        padding-bottom: 6rem;
    }
</style>
<div class="titulo-header">
    Confirmar código
</div>
<div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
    SMS enviado para <br>{{:numero}}. <br>
    <a href="#inserir-numero" style="font-size: 12pt">Número errado</a>?
</div>

<form id="form-confirmar-codigo" class="col s12">
    <div class="input-field col s12">
        <input id="cod-verificacao" type="text" value="0000" pattern="\d{4,}" class="validate" autocomplete="off">
        <label for="cod-verificacao">Digite o código recebido</label>
    </div>
</form>
<p id="cod-error" style="color: red; display: none;">Código inválido</p>
<div id="div-reenviar-sms" style="margin: 50px 0; color: grey; font-size: 12pt;">
    <i class="material-icons" style="vertical-align: sub;">send</i> &nbsp;Reenviar SMS Em <span class="time-new-sms">0m 0s</span>
</div>
<div class="termos-footer">
    <a class="waves-effect waves-light btn" style="min-width: 250px;" id="confirmar">Avançar</a>
</div>
<script>
    // $("#cod-verificacao").mask("000000");
    console.log(getTempData('numero'));

    $('#confirmar').click(function () {
        if (!validateInputs()) {
            $('#cod-verificacao').focus();
            return;
        }
        $('#confirmar').addClass('disabled');

        var url = (em_teste === true) ? 'app/verificar-codigo-fake' : 'app/verificar-codigo';
        $.ajax({
            url: host + url,
            type: 'GET',
            data: {
                codigo: $('#cod-verificacao').val(),
                numero: getTempData('numero')
            }, success: function (d) {
                $('#confirmar').removeClass('disabled');
                var res = convertToJSON(d);
                console.log(res);
                if (res.response) {
                    localStorage.setItem('token', res.token);

                    setTempItem("response_confirmar_numero", res);
                    window.location.hash = 'selecionar-usuario-ieducar';
                    if (true)
                        return;


                    //window.location.hash = 'inicializando?numero={{:numero}}';
                    if (res.users === null && res.users === null) {
                        window.location.hash = 'selecionar-escola';
                    } else {
                        localStorage.setItem('user', JSON.stringify(res.user));
                        localStorage.setItem('usuario', JSON.stringify(res.user));
                        setTempItem("usuarios_ieducar", res.usuarios_ieducar);
                        // window.location.hash = 'editar-nome-foto';
                        window.location.hash = 'selecionar-usuario-ieducar';
                    }
                } else {
                    showCodError();
                }
            }, error: function (d) {
                $('#confirmar').removeClass('disabled');
                tratarRequestErro(d);
            }
        });
    });

    $("#form-confirmar-numero").submit(function (event) {
        event.preventDefault();
        $('#confirmar').click();
    });

    function validateInputs() {
        return /\d{4,}/.exec($('#cod-verificacao').val());
    }

    function showCodError() {
        $("#cod-error").css('display', 'block');
        setTimeout(function () {
            $("#cod-error").css('display', 'none');
        }, 2000);
    }

    M.updateTextFields();

    smses_enviados++;

    var time_send_sms = 60000;


    function contagemReenviar() {
        if (smses_enviados < 2)
        // time_send_sms = 10000;
            time_send_sms = 60000;
        if (smses_enviados == 2)
        // time_send_sms = 15000;
            time_send_sms = 300000;
        if (smses_enviados > 2)
        // time_send_sms = 20000;
            time_send_sms = 3600000;

        var x = setInterval(function () {
            if (location.hash.split('?')[0] !== '#confirmar-numero') {
                clearInterval(x);
            }
            var minutes = Math.floor((time_send_sms % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((time_send_sms % (1000 * 60)) / 1000);

            $(".time-new-sms").html(minutes + "m " + seconds + "s ");

            time_send_sms -= 1000;

            if (time_send_sms < 0) {
                clearInterval(x);
                $(".time-new-sms").html("0m 0s ");
                $("#div-reenviar-sms").css('color', '#26a69a');
            }
        }, 1000);
    }

    contagemReenviar();

    $("#div-reenviar-sms").click(function (event) {
        if (time_send_sms <= 0) {
            console.log("pode enviar");
            smses_enviados++;
            $("#div-reenviar-sms").css('color', 'grey');
            reenviarSms();
            contagemReenviar();
        } else {
            console.log('ainda não pode');
        }
    });

    function reenviarSms(argument) {
        var url = em_teste === true ? 'app/enviar-sms-fake' : 'app/enviar-sms';
        var tmp = convertToJSON(localStorage.getItem('tmp_data'));
        $.ajax({
            url: host + url,
            type: 'GET',
            data: {
                numero: tmp.numero
            }, success: function (d) {
                console.log(d);
                if (d.response === "false")
                    showToast(d.data);
            }, error: function (d) {
                tratarRequestErro(d);
            }
        });
    }

</script>
