<style type="text/css">
body {
	overflow-x: hidden;
}
.tabs-cont-pais {
    display: flex;
    background-color: #00897b !important;
    height: 40px;
}
.tabs-cont-pais div {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 7px 0;
}
.tabs-cont-pais:before {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-left: -100%;
}
.tabs-cont-pais:after {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-right: -100%;
}
.tabs-cont-pais .tab {
	transition: border-bottom 1s;
}
.tabs-cont-pais .t1 {
	border-bottom: 1px solid yellow;
}
.body-controle h1 {
	font-size: 20px;
	color: #549788;
	font-weight: 500;
	margin: 30px 0 15px 0;
}
.body-controle h1 .material-icons {
	margin-right: 10px;
	vertical-align: middle;
}
.responsaveis, .garotada {
	display: flex;
	align-items: center;
}
.body-controle .circle-img {
	margin: 0 10px;
	width: 35px;
	height: 35px;
}
.nome-responsavel, .nome-garotada {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 13px;
	color: #3A6A75;
}
.img-qr-code {
	display: block;
	width: 80%;
	margin: auto;
}
.body-adicionar p {
	text-align: center;
	color: grey;
}
.body-adicionar a {
	display: block;
	width: 80%;
	margin: auto;
}
</style>

<div class="tabs-cont-pais">
	<div id="tab-adicionar" class="tab t1">Adicionar</div>
	<div id="tab-controle" class="tab">Controle</div>
</div>
<section class="tab-body body-adicionar">
	<p>
		Senhores pais e responsáveis, este recurso permite monitorar a vida escolar dos alunos. Você receberá informações acerca da entrada e saída do aluno na escola e poderá acompanhar tamb´´em o desermpenho dele nas aulas.
	</p>
	<p>
		Para começar, clique em "LERQR CODE", abra o aplicativo EscolaVerde.net no smartphone do seu filho, acesse essa mesma tela, e escaneie o código dele.
	</p>
	<img src="img/qr-code.png" class="img-qr-code">
	<p>Apresente este código para seus pais ou responsável.</p>
	<!-- camera_alt -->
	<a class="waves-effect waves-light btn"><i class="material-icons left">camera_alt</i>Ler qr code</a>
	<!-- <a class="btn">Ler qr code</a> -->
</section>
<section class="tab-body body-controle hide">
	<h1><i class="material-icons">event_note</i>Meus responsáveis</h1>
	<div class="responsaveis">
		<div class="circle-img"></div>
		<span class="nome-responsavel">Juliana P.</span>
	</div>

	<h1><i class="material-icons">event_note</i>Garotada</h1>
	<div class="garotada">
		<div class="circle-img"></div>
		<span class="nome-garotada">Ricardo P.</span>
	</div>
</section>


<script type="text/javascript">
	$("#nav").removeClass('hide');

	$(".tab").click(function () {
		console.log('clicou tab');
		$(".tab").css('border-bottom', 'none');
		$(this).css('border-bottom', '1px solid yellow');

		var id = $(this).attr('id').replace('tab-', '');
		$('.tab-body').addClass('hide');
		var body = 'body-' + id;
		$('.' + body + '').removeClass('hide');
	});
	// $("#tab-controle").click();
</script>