<style type="text/css" xmlns="">
body {
	overflow-x: hidden;
}
.tabs-cont-pais {
	display: flex;
	background-color: #00897b !important;
	height: 40px;
}
.tabs-cont-pais div {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 7px 0;
}
.tabs-cont-pais:before {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-left: -100%;
}
.tabs-cont-pais:after {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-right: -100%;
}
.tabs-cont-pais .tab {
	transition: border-bottom 1s;
}
.tabs-cont-pais .t1 {
	border-bottom: 1px solid yellow;
}
.body-controle h1 {
	font-size: 20px;
	color: #549788;
	font-weight: 500;
	margin: 30px 0 15px 0;
}
.body-controle h1 .material-icons {
	margin-right: 10px;
	vertical-align: middle;
}
.responsaveis, .garotada {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.body-controle .circle-img {
	margin: 0 10px;
	width: 35px;
	height: 35px;
}
.nome-responsavel, .nome-garotada {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 13px;
	color: #3A6A75;
}
.img-qr-code {
	display: block;
	/* width: 80%; */
	margin: auto;
}
.body-adicionar p {
	text-align: center;
	color: grey;
}
.body-adicionar a {
	display: block;
	width: 80%;
	margin: auto;
}
.nenhum-resultado {
	font-weight: 500;
	color: gray;
	margin-left: 10px;
}
#modal-adicionar .modal-content, #modal-remover .modal-content, #modal-e-professor .modal-content {
	text-align: center;
	padding-bottom: 0;
}
#modal-adicionar .modal-footer, #modal-remover .modal-footer, #modal-e-professor .modal-footer {
	text-align: center;
}
.modal-footer {
	text-align: center !important;
}
#modal-loading {
	text-align: center;
}
</style>

<div class="tabs-cont-pais">
	<div id="tab-adicionar" class="tab t1">Adicionar</div>
	<div id="tab-controle" class="tab">Controle</div>
</div>
<section class="tab-body body-adicionar">
	<p>
		Senhores pais e responsáveis, este recurso permite monitorar a vida escolar dos alunos. Você receberá informações acerca da entrada e saída do aluno na escola e poderá acompanhar tambem o desermpenho dele nas aulas.
	</p>
	<p>
		Para começar, clique em "LER QR CODE", abra o aplicativo EscolaVerde.net no smartphone do seu filho, acesse essa mesma tela, e escaneie o código dele.
	</p>
<!--	<img src="{{*:localStorage.getItem('qr-code-img')}}" class="img-qr-code">-->
<!--	<img src="https://api.qrserver.com/v1/create-qr-code/?size=180x180&data={{*:user.id}}" class="img-qr-code">-->
	<div id="qrcode" class="img-qr-code"></div>
	<p>Apresente este código para seus pais ou responsável.</p>
	<!-- camera_alt -->
	<a id="ler-qr" class="waves-effect waves-light btn"><i class="material-icons left">camera_alt</i>Ler qr code</a>
	<!-- <a class="btn">Ler qr code</a> -->
</section>
<section class="tab-body body-controle hide">
	<h1><i class="material-icons">event_note</i>Meus responsáveis</h1>
	{{if #data.responsaveis.length == 0}}<span class="nenhum-resultado">Nenhum resultado.</span>{{/if}}
	{{for responsaveis}}
	<div class="responsaveis">
		<div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
		<a href="#perfil_1?{{:id}}" class="nome-responsavel">{{:nome}}</a>
	</div>
	{{/for}}

	<h1><i class="material-icons">event_note</i>Garotada</h1>
	{{if #data.dependentes.length == 0}}<span class="nenhum-resultado">Nenhum resultado.</span>{{/if}}
	{{for dependentes}}
	<div class="garotada">
		<div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
		<a href="#perfil_1?{{:id}}" class="nome-garotada">{{:nome}}</a>
	</div>
	{{/for}}
</section>



<!-- Modal Structure -->
<div id="modal-adicionar" class="modal">
	<div class="modal-content">
		<p>Você é responsável por <span class="nme-user-add"></span>?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-close waves-effect waves-green btn-flat">Não</a>
		<a id="btn-adionar-sim" data-usuario-id="" class="modal-close waves-effect waves-green btn-flat btn-add-usr">Sim</a>
	</div>
</div>

<div id="modal-e-professor" class="modal">
	<div class="modal-content">
		<p><span class="nme-user-add"></span> é seu(sua) professor(a)?</p>
	</div>
	<div class="modal-footer">
		<a data-prof="0" data-usuario-id="" class="modal-close waves-effect waves-green btn-flat is-professor btn-add-usr">Não</a>
		<a data-prof="1" data-usuario-id="" class="modal-close waves-effect waves-green btn-flat is-professor btn-add-usr">Sim</a>
	</div>
</div>


<div id="modal-loading" class="modal">
	<div class="modal-content">
		<div class="preloader-wrapper small active">
			<div class="spinner-layer spinner-green-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), "{{*:user.id}}");
	$("#qrcode").css("width", "80%");
</script>

<script type="text/javascript">
	$("#nav").removeClass('hide');

	var user_scan = null;
	var user_add = null;

	var elem = document.getElementById('modal-adicionar');
	var modalAdicionar = M.Modal.init(elem);


	var elem = document.getElementById('modal-loading');
	var modalLoading = M.Modal.init(elem, {dismissible: false});

	var elem = document.getElementById('modal-e-professor');
	var modalProf = M.Modal.init(elem);

	$(".tab").click(function () {
		console.log('clicou tab');
		$(".tab").css('border-bottom', 'none');
		$(this).css('border-bottom', '1px solid yellow');

		var id = $(this).attr('id').replace('tab-', '');
		$('.tab-body').addClass('hide');
		var body = 'body-' + id;
		$('.' + body + '').removeClass('hide');
	});
	// $("#tab-controle").click();

	// Add colega ######################################

	function confirmarAdicionar (idColega, isProfessor) {
		modalLoading.open();
		var data = {
			"id_responsavel": user.id, 
			"id_colega": idColega
		};

		$.ajax({
			url: host + 'usuario/addResponsavel',
			type: 'POST',
			dataType: 'json',
			data: JSON.stringify(data),
		})
		.done(function(d) {
			console.log("success");
			console.log(d);
			setTimeout(function (argument) {
				$(document).trigger('hashchange');
			},1000);
			M.toast({html: 'Agora você é responsável por ' + $(".nme-user-add").html(), displayLength: 1000});
		})
		.fail(function(d) {
			console.log("error");
			console.log(d);
			M.toast({html: 'Erro', displayLength: 1500});
		})
		.always(function() {
			console.log("complete");
			modalLoading.close();
		});
	}

		// M.toast({html: 'I am a toast!', displayLength: 1500});

		$("#btn-adionar-sim").click(function(event) {
			// if (prof) {
			// 	modalProf.open();
			// } else {
				confirmarAdicionar($(this).attr('data-usuario-id'), 0);
			// }
		});

		$(".is-professor").click(function(event) {
			var is_p = $(this).attr('data-prof');
			if (is_p == '1')
				confirmarAdicionar($(this).attr('data-usuario-id'), 1);
			else
				confirmarAdicionar($(this).attr('data-usuario-id'), 0);
		});

		$("#btn-adionar").click(function(event) {
			modalAdicionar.open();
		});

		function getUserById(id) {
			modalLoading.open();
			$.get(host + 'usuario/getUsuarioById?id=' + id, function (d) {
				var data = convertToJSON(d);
				console.log('user scanner:', data);
				if (data.is_responsavel == '1'){
					M.toast({html: 'Você já é responsável de ' + data.nome, displayLength: 3000});
					modalLoading.close();
				} else {
					user_add = data;
					$(".nme-user-add").html(data.nome);
					$(".btn-add-usr").attr('data-usuario-id', data.id);
					modalLoading.close();
					modalAdicionar.open();
					
				}
			});
		}

// Fim add colega #######################################

// Inicio qr code ##########################################

function showleitorQr () {
	$("#nav").addClass('hide');
	$("#container").addClass('hide');
	$("#container-qr-code").removeClass('hide');
	$('body').css('background-color', 'transparent');
	botaoVoltarAtivado = false;
}

function hideleitorQr () {
	$("#nav").removeClass('hide');
	$("#container").removeClass('hide');
	$("#container-qr-code").addClass('hide');
	$('body').css('background-color', 'white');
	botaoVoltarAtivado = true;
}

function onDeviceReady() {
	$("#ler-qr").click(function(event) {
		showleitorQr();
		QRScanner.scan(function(err, text){
			if(err){
				console.log(err);
				QRScanner.destroy();
				hideleitorQr();
			} else {
				console.log(text);
				if (device.platform == 'browser') {
					// alert(text.result);
					// M.toast({html: text.result, displayLength: 1000});
					user_scan = text.result;
					getUserById(text.result);
				}
				else {
					// alert(text);
					// M.toast({html: text, displayLength: 1000});
					user_scan = text;
					getUserById(text);
				}
				QRScanner.hide();
				QRScanner.cancelScan()
				hideleitorQr();
			}
		});
		QRScanner.show();
	});
}

$("#btn-cancelar-qr").click(function(event) {
	QRScanner.hide();
	QRScanner.cancelScan();
	QRScanner.destroy();
	hideleitorQr();
});

document.addEventListener("deviceready", onDeviceReady, false);

// Fim qr code ####################################################
</script>