<style>
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

.dropdown-content {
    z-index: 100;
}
#div-foto, #div-foto-bem-vindo {
    width: 130px;
    height: 130px;
}
</style>

<section id="add-nome-foto">
    <div class="titulo-header">
        Dados do perfil
    </div>

    <div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
        Por favor, forneça seu nome e uma foto para o perfil (opcional)
    </div>
    <div style="margin-top: 10%; margin-bottom: 10%;">
        <div id="div-foto" class="circle-img" style="margin: auto;"></div>
    </div>

    <form id="form-criar-perfil" method="post" enctype="multipart/form-data">
        <input id="input-foto-perfil" name="foto-perfil" type="file" style="display: none;" accept="image/*">
    </form>

    <form id="form-finalizar" class="col s12">
        <div class="input-field col s12">
            <input id="nome" type="text" class="validate">
            <label for="nome">Digite seu nome aqui...</label>
            <span class="helper-text center">Seu nome não deve possuir espaços ou caracteres especiais</span>
        </div>
    </form>

    <div class="termos-footer">
        <a id="avancar" class="waves-effect waves-light btn" style="min-width: 250px;">Avançar</a>
    </div>
</section>

<section id="carregando-bem-vindo" class="hide">
    <div style="margin-top: 10%; margin-bottom: 10%;">
        <div id="div-foto-bem-vindo" class="circle-img" style="margin: auto;"></div>
    </div>
    <div style="text-align: center;
    color: #26a69a;
    font-weight: 500; line-height: 0.8" class="titulo-header">
    <span id="bem-vindo">Bem vindo, <span id="usuario-bem-vindo">Teste</span></span><br>
    <span id="colegio" style="font-size: 0.8rem; margin-top: -100%;" class="grey-text"><span id="colegio-bem-vindo">Colégio Paulo Freire</span>, Turma <span id="turma-bem-vindo">6ª série A</span></span>
</div>

<div class="grey-text center" style="font-size: 1.2rem; margin-top: 30px;">
    Por favor, aguarde um instante. Estamos carregando seus dados.
</div>

<div id="div-loading" class="center" style="padding: 2%; margin-top: 20%;">
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<!-- <button id="mandar" class="button">Mandar</button> -->
<!-- <a id="inicio" class="button">Inicio</a> -->
</section>




<script>
    // localStorage.setItem('foto', null);

    var temp_user = getTempData('user_selecionado');
    console.log('temp_user ', temp_user);

    $("#div-foto").click(function () {
        $("#input-foto-perfil").click();
    });

    $("#avancar").click(function () {
        if ($("#nome").val() < 3) {
            $("#nome").focus();
            return;
        }

        // localStorage.setItem('nome', $("#nome").val());
        setTempItem('nome', $("#nome").val());
        $("#form-criar-perfil").submit();
        // window.location.hash = 'bem-vindo';
    });

    $("#form-finalizar").submit(function(event) {
        event.preventDefault();
        $("#avancar").click();
    });

    $("#input-foto-perfil").change(function (e) {
        var file = e.target.files[0];
        if (file) {
            var blob = URL.createObjectURL(file);
            $('#div-foto').css('background-image', "url('" + blob + "')");
            $('#div-foto-bem-vindo').css('background-image', "url('" + blob + "')");
        }
    });


    $("#form-criar-perfil").submit(function (e) {
        e.preventDefault();

        var tmp = convertToJSON(localStorage.getItem('tmp_data'));

        $('#usuario-bem-vindo').html(tmp.nome);
        $('#colegio-bem-vindo').html(tmp.escola);
        $('#turma-bem-vindo').html(tmp.turma);

        $('#add-nome-foto').addClass('hide');
        $('#carregando-bem-vindo').removeClass('hide');

        var formData = new FormData(this);

        formData.append('telefone', tmp.numero);
        formData.append('idEstado', tmp.estado);
        formData.append('nomeCidade', tmp.cidade);
        formData.append('nomeEscola', tmp.escola);
        formData.append('nomeTurma', tmp.turma);
        formData.append('nome', tmp.nome);

        formData.append('tipo', temp_user ? temp_user.tipo : '');
        formData.append('id', temp_user ? temp_user.id : '');



        $.ajax({
            url: host + 'app/criarPerfil',
            type: 'POST',
            data: formData,
            success: function (data) {
                console.log('success ajax');
                console.log(data);
                var dataJson = convertToJSON(data);
                console.log(dataJson);
                setarUsuario(dataJson["user"]);
                localStorage.setItem('usuario', JSON.stringify(dataJson["user"]));
                localStorage.setItem('token', dataJson.token);
                if (dataJson["img-perfil"] !== null && dataJson["img-perfil"] !== 'null') {
                    localStorage.setItem('foto_perfil', JSON.stringify(dataJson["img-perfil"]));
                }
                toDataURL('https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=' + dataJson.data.id, function(dataUrl) {
                  console.log('RESULT:', dataUrl);
                  localStorage.setItem('qr-code-img', dataUrl);
              });


                app.registerPush(function (d) {
                    var datajson = convertToJSON(d);
                    console.log("push id registrado no server backend:", datajson);
                    myHistory = [];
                    location.hash = 'inicio';
                });
                // setTimeout(function (argument) {
                //     location.hash = 'inicio';
                // }, 2000);


            }, error: function (d) {
                console.log('error ajax');
                console.log(d);
                alert('erro ao inserir');
                $("#inicio").click();
            },
            cache: false,
            contentType: false,
            processData: false,
            xhr: function() {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) { // Avalia se tem suporte a propriedade upload
                    myXhr.upload.addEventListener('progress', function () {
                        /* faz alguma coisa durante o progresso do upload */
                    }, false);
                }
                return myXhr;
            }
        });
    });


    $("#inicio").click(function () {
        $('#carregando-bem-vindo').addClass('hide');
        $('#add-nome-foto').removeClass('hide');
    });
</script>
