<style type="text/css">
.header-pergunta {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-right: -100%;
}
.header-pergunta .player1 {
	float: left;
}
.header-pergunta .player2 {
	float: right;
}
.header-pergunta .clear {
	clear: both;
}
.fill-around {
	display: flex;
}
.header-pergunta {
	padding: 20px 0;
}
.header-pergunta .num-questao {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 12pt;
}

.img-user-pergunta {
	height: 40px;
	width: 40px !important;
	/* border: 1px solid black;
	border-radius: 50%; */
}
.users-pts .img-user-pergunta, .pts {
	display: inline-block;
	margin: 10px;
}
.users-pts .player1, .player2 {
	display: flex;
	align-items: center;
}
.header-pergunta .pts {
	font-size: 25pt;
	font-weight: 700;
	color: white;
}
.btn-pergunta {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
}
.options-pergunta .option {
	margin-bottom: 20px;
	color: grey !important;
}
.options-pergunta .option span {
	color: grey !important;
}
.corpo-pergunta .pergunta {
	color: grey;
}
.header-pergunta {
	background-color: #76AB9F !important;
	/* background: url(img/x4.png) no-repeat center; */
	background-size: 180px;
}
body {
	padding-bottom: 50px;
}
.div-btn-continuar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nome {
	font-size: 17px;
	text-align: center;
}
.header-pergunta .users-pts {
	display: flex;
	justify-content: space-between;
}
.player1, .player2 {
	padding: 0 5px;
}
.nome {
	color: white;
	line-height: 1;
}
.sem-questoes {
	color: grey;
	text-align: center;
	margin-top: 55px;
}
.certa {
	background-color: #a6f9bb;
    border-radius: 5px;
}
.errada {
	background-color: #f1beba;
    border-radius: 5px;
}
</style>

<div class="fill-around">
	<div class="header-pergunta">
		<div class="clear"></div>
		{{if perguntas.length == 0}}
		<div class="num-questao">Nenhuma questão</div>
		{{else}}
		<div class="num-questao">Questão&nbsp;<span id="qtn_atual"> 1</span>/{{:perguntas.length}}</div>
		{{/if}}
	</div>
</div>

{{if perguntas.length == 0}}
<p class="sem-questoes">Não foram encontradas questões para essa disciplina</p>
{{/if}}

{{* window.num_per = 0;}}

{{for perguntas}}
<div class="corpo-pergunta" id="corpo-pergunta-{{*: num_per}}">
	<p class="pergunta">
		{{:enunciado}}
	</p>
	<div class="options-pergunta">
		{{if tipo == 1}}


		{{* window.num_alt = 1;}}
		{{for alternativas}}
		<div class="option option-pergunta-{{*: num_per}} option-alt-{{*: num_alt}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="{{*: num_alt}}"  />
				<span>{{:descricao}}</span>
			</label>
		</div>
		{{* num_alt++;}}
		{{/for}}

		{{else}}

		<div class="option option-pergunta-{{*: num_per}} option-alt-1">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="1"  />
				<span>Verdadeiro</span>
			</label>
		</div>
		<div class="option option-pergunta-{{*: num_per}} option-alt-2">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="2"  />
				<span>Falso</span>
			</label>
		</div>

		{{/if}}
	</div>
</div>
{{* num_per++;}}
{{/for}}

<div class="div-btn-continuar">
	{{if perguntas.length == 0}}
	<a href="#material-de-estudo_1" class="waves-effect waves-light btn btn-pergunta"><i class="material-icons left">keyboard_backspace</i>Voltar</a>
	{{else}}
	<a id="continuar" class="waves-effect waves-light btn btn-pergunta"><i class="material-icons left">touch_app</i>Confirmar</a>
	{{/if}}
</div>

<script type="text/javascript">
	$("#nav").removeClass('hide');

	var p = 0;

	var perguntas = {{tostr:perguntas}};
	// var respostas = [];
	var qtd_perguntas = {{:perguntas.length}};
	var pts = 0;
	var aguardando_resposta = true;

	function alterarAguardandoResposta(argument) {
		if (argument === true) {
			aguardando_resposta = true;
			var i = '<i class="material-icons left">touch_app</i>Confirmar';
			$("#continuar").html(i);


		} else {
			aguardando_resposta = false;
			var i = '<i class="material-icons left">navigate_next</i>Continuar';
			$("#continuar").html(i);

		}
	}

	console.log('m dados');
	console.log(perguntas);

	var containers = $(".corpo-pergunta");

	containers.css({
		display: 'none'
	});

	containers.first().css({
		display: 'block'
	});

	$("#continuar").click(function(event) {
		if (aguardando_resposta === true) {

			var val = $("input[name=resposta" + p + "]:checked").val();
			console.log(val);
			if (val == undefined) {
				M.toast({html: 'selecione uma opção', displayLength: 1000});
				return;
			}
		// respostas.push({id_pergunta: perguntas[p].id, resposta: val});

		// console.log("respostas");
		// console.log(respostas);
		// if (p < qtd_perguntas)
		// 	$("#qtn_atual").html(p + 2);

		if (perguntas[p].resposta == val) {
			pts++;
			$(".player1 .pts").html(pts);
			// M.toast({html: 'Resposta certa', displayLength: 1000});
			$(".option-pergunta-" + p + ".option-alt-" + perguntas[p].resposta).addClass('certa');
		} else {
			// M.toast({html: 'Resposta errada', displayLength: 1000});
			$(".option-pergunta-" + p + ".option-alt-" + val).addClass('errada');
			$(".option-pergunta-" + p + ".option-alt-" + perguntas[p].resposta).addClass('certa');
		}

		alterarAguardandoResposta(false);
	} else {

		if (p < qtd_perguntas - 1) {
			$("#qtn_atual").html(p + 2);
			p++;
			containers.css({
				display: 'none'
			});
			$("#corpo-pergunta-" + p).css({
				display: 'block'
			});
		} else {
			location.hash = '#material-de-estudo_1';
		}
		alterarAguardandoResposta(true);
	}
});
</script>