<style type="text/css">
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}
.fill-around{
	position: relative;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	right: 0;
	margin-right: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.background-header {
	background-color: #76AB9F;
}
.background-header .users {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 0 0;
}
.background-header .users .user1, .user2 {
	display: flex;
	align-items: center;
	color: white;
	width: 49%;
}
.background-header .users .pts {
	font-size: 40px;
	font-weight: bold;
	padding: 0 10px;
}
.background-header .users .nome {
	font-size: 17px;
	text-align: center;
}
.info-player {
	background-color: white;
	padding: 0 10px 30px 10px;
	border-radius: 9px;
	width: 85%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translateY(20px);
	z-index: 10;
	box-shadow: 0px 2px 25px 0px;
	line-height: 2;
	color: grey;
	margin-bottom: 30px;
}
.info-player .circle-img {
	width: 90px;
	height: 90px;
	transform: translateY(-20px);
	background-color: #dad6d6;
}
.info-player .nome {
	text-transform: uppercase;
	color: #549788;
	font-size: 18px;
	font-weight: bold;
}
.info-player .resultado {
	color: #71B62C;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
.info-player .green-txt {
	font-weight: bold;
	color: #549788;
}
.batalhar-novamente {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.batalhar-novamente i {
	margin-right: 10px;
	vertical-align: middle;
}
div.questoes-certas {
	text-align: center;
}
</style>

<div class="fill-around">
	<div class="background-header">
		<div class="users">
			<div class="user1">
				<div class="circle-img"
				{{if foto_perfil_opo1 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
				{{/if}}
				></div>
				<span class="pts">{{:qtd_certas_opo1}}</span>
				<span class="nome">{{:nome_oponente_1}}</span>
			</div>
			<div class="user2">
				<span class="nome">{{:nome_oponente_2}}</span>
				<span class="pts">{{:qtd_certas_opo2}}</span>
				<div class="circle-img"
				{{if foto_perfil_opo2 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
				{{/if}}
				></div>
			</div>
		</div>

	{{if ~isEmAndamento(id_status_batalha)}}

		{{if ~isOpo1(id_oponente_1)}}
		<div class="info-player">
			<div class="circle-img"
			{{if foto_perfil_opo1 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
				{{/if}}
			></div>
			<div class="nome">{{:nome_oponente_1}}</div>
			<!-- <div class="resultado">Venceu</div> -->
			<div class="questoes-certas">Acertou <span class="green-txt">{{:certas}}</span> {{if certas > 1}}questões{{else}}questão{{/if}}<br>Agora é a vez de {{:nome_oponente_2}}</div>
			<!-- <div class="pts-ganhos">Ganhou <span class="green-txt">1600 pts</span></div> -->
			<!-- <div class="bonus">Ganhou <span class="green-txt">3200 pts</span> de bônus pela vitória</div> -->
			<!-- <div>Posição no Ranking: 1.243.874º</div> -->
		</div>
		{{else}}
		<div class="info-player">
			<div class="circle-img"
			{{if foto_perfil_opo2 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
				{{/if}}
			></div>
			<div class="nome">{{:nome_oponente_2}}</div>
			<!-- <div class="resultado">Venceu</div> -->
			<div class="questoes-certas">Acertou <span class="green-txt">{{:certas}}</span> {{if certas > 1}}questões{{else}}questão{{/if}}<br>Agora é a vez de {{:nome_oponente_1}}</div>
			<!-- <div class="pts-ganhos">Ganhou <span class="green-txt">1600 pts</span></div> -->
			<!-- <div class="bonus">Ganhou <span class="green-txt">3200 pts</span> de bônus pela vitória</div> -->
			<!-- <div>Posição no Ranking: 1.243.874º</div> -->
		</div>
		{{/if}}

	{{else}}



	{{if ~isOpo1(id_oponente_1)}}
		<div class="info-player">
			<div class="circle-img"
			{{if foto_perfil_opo1 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
				{{/if}}
			></div>
			<div class="nome">{{:nome_oponente_1}}</div>
			<!-- <div class="resultado">{{if qtd_certas_opo1 > qtd_certas_opo2}}Venceu{{else}}Perdeu{{/if}}</div> -->
			{{if qtd_certas_opo1 > qtd_certas_opo2}}
				<div class="resultado">Venceu</div>{{else}}<div class="resultado" style="color: rgb(255, 110, 94);">Perdeu</div>
				{{/if}}
			<div class="questoes-certas">Acertou <span class="green-txt">{{:certas}}</span> {{if certas > 1}}questões{{else}}questão{{/if}}</div>
			<div class="pts-ganhos">Ganhou <span class="green-txt">{{:pts_oponente1}} pts</span></div>
			<!-- <div class="bonus">Ganhou <span class="green-txt">3200 pts</span> de bônus pela vitória</div> -->
			<!-- <div>Posição no Ranking: 1.243.874º</div> -->
		</div>
		{{else}}
		<div class="info-player">
			<div class="circle-img"
			{{if foto_perfil_opo2 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
				{{/if}}
			></div>
			<div class="nome">{{:nome_oponente_2}}</div>
			<!-- rgb(255, 110, 94) -->
			<!-- <div class="resultado"> -->
				{{if qtd_certas_opo2 > qtd_certas_opo1}}
				<div class="resultado">Venceu</div>{{else}}<div class="resultado" style="color: rgb(255, 110, 94);">Perdeu</div>
				{{/if}}
			<!-- </div> -->
			<div class="questoes-certas">Acertou <span class="green-txt">{{:certas}}</span> {{if certas > 1}}questões{{else}}questão{{/if}}</div>
			<div class="pts-ganhos">Ganhou <span class="green-txt">{{:pts_oponente2}} pts</span></div>
			<!-- <div class="bonus">Ganhou <span class="green-txt">3200 pts</span> de bônus pela vitória</div> -->
			<!-- <div>Posição no Ranking: 1.243.874º</div> -->
		</div>
		{{/if}}


	{{/if}}

	</div>
</div>

<div class="batalhar-novamente">
	<a href="#batalhas_1" class="waves-effect waves-light btn"><i class="mdi mdi-sword-cross"></i>Batalhas</a>
</div>



<script type="text/javascript">
	$("#nav").removeClass('hide');
</script>