<style type="text/css">
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}
.fill-around{
	position: relative;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	right: 0;
	margin-right: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.background-header {
	background-color: #76AB9F;
	/* margin-left: -5%;
	margin-right: -5%;
	padding-left: 5%;
	padding-right: 5%; */
}
/* @media only screen and (min-width: 601px) {
	.background-header {
		margin-left: -8%;
		margin-right: -8%;
		padding-left: 8%;
		padding-right: 8%;
	}
} */
.background-header .users {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 0 0;
}
.background-header .users .user1, .user2 {
	display: flex;
	align-items: center;
	color: white;
}
.background-header .users .pts {
	font-size: 40px;
	font-weight: bold;
	padding: 0 10px;
}
.background-header .users .nome {
	font-size: 17px;
}
.info-player {
	background-color: white;
	padding: 0 10px 30px 10px;
	border-radius: 9px;
	width: 85%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translateY(20px);
	z-index: 10;
	box-shadow: 0px 2px 25px 0px;
	line-height: 2;
	color: grey;
	margin-bottom: 30px;
}
.info-player .circle-img {
	width: 90px;
	height: 90px;
	transform: translateY(-20px);
	background-color: #dad6d6;
}
.info-player .nome {
	text-transform: uppercase;
	color: #549788;
	font-size: 18px;
	font-weight: bold;
}
.info-player .resultado {
	color: #71B62C;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
.info-player .green-txt {
	font-weight: bold;
	color: #549788;
}



.batalhar-novamente {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.batalhar-novamente i {
	margin-right: 10px;
	vertical-align: middle;
}
</style>

<div class="fill-around">
	<div class="background-header">
		<div class="users">
			<div class="user1">
				<div class="circle-img"></div>
				<span class="pts">1</span>
				<span class="nome">Ricardo</span>
			</div>
			<div class="user2">
				<span class="nome">Regina</span>
				<span class="pts">0</span>
				<div class="circle-img"></div>
			</div>
		</div>
		<div class="info-player">
			<div class="circle-img"></div>
			<div class="nome">Ricardo P.</div>
			<div class="resultado">Venceu</div>
			<div class="questoes-certas">Acertou <span class="green-txt">1</span> questão</div>
			<div class="pts-ganhos">Ganhou <span class="green-txt">1600 pts</span></div>
			<div class="bonus">Ganhou <span class="green-txt">3200 pts</span> de bônus pela vitória</div>
			<div>Posição no Ranking: 1.243.874º</div>
		</div>
	</div>
</div>

<div class="batalhar-novamente">
	<a href="#pergunta_1?3" class="waves-effect waves-light btn"><i class="mdi mdi-sword-cross"></i>Batalhar novamente</a>
</div>



<script type="text/javascript">
	$("#nav").removeClass('hide');
</script>