<style type="text/css">
body {
    padding-bottom: 30px;
}
#file {
    display: none;
}
.circle-div {
    height: 120px;
    width: 120px;
}
.item-flex {
    flex: 1;
}
.medal {
    font-size: .7em;
    padding: 0 5px;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.medal i {
    display: block;
}
.div-inicio-foto {
    margin-top: 30px; 
    text-align: center;
    background-repeat: no-repeat;
}

.inicio-medalhas {
    display: flex; 
    align-content: center; 
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    overflow-x: scroll;
}

.publicar {
    border: .1px solid grey;
    margin-top: 20px;
    padding: 5px;
    /* min-height: 100px; */
}

.publicar-options {
    border-bottom: .1px solid grey;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: space-between;
    padding-bottom: 5px;
}
.publicar-options a:not(:last-child) {
    border-right: 1px solid grey;
}
.option-publicar {
    color: grey;
    flex-grow: 1;
    min-height: 30px;
    padding-top: 4px;
}
.option-publicar .material-icons {
    vertical-align: middle;
}
.inicio-medalhas .material-icons {
    vertical-align: middle;
    margin: 0 15px;
}
.publicar-txt-area { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    padding: 10px ;  
    height: 75px;
    resize: none; 
    overflow-y: scroll;
}
.publicar-txt-area:focus { 
    outline: none !important;
    border: none;
}
.a-no-decoration {
    text-decoration: none;
    color: grey;
    display: flex;
    padding-right: 2px;
    align-items: center;
}
.publicacao {
    margin-top: 30px;
    width: 100%;
    position: relative;
    padding: 5px;
    border-bottom: 2px solid rgba(128, 128, 128, .5);
}
.hora-publicacao {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    font-size: 11px;
    color: grey;
}
.publicacao-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0.1px solid grey;
    margin-top: 10px;
}
.usuario-e-txt-publicacao {
    padding: 10px;
    width: calc(100% - 50px);
    padding-bottom: 10px;
}
.img-txt-publicacao {
    display: flex;
}
.publicacao .usuario-e-txt-publicacao .usuario-publicacao {
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.publicacao .usuario-e-txt-publicacao .txt-publicacao {
    font-size: 10pt;
    color: grey;
    display: block;
    margin-bottom: 10px;
}
.responder-publicacao {
    display: block;
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    padding-top: 5px;
}
#div-foto-inicio {
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url('/img/default-user-image.png');
}
.div-inicio-foto .nome-pts {
    margin-top: 15px; 
    color: #26a69a;
}
.div-inicio-foto .nome-pts #nome {
    font-size: 22px; 
    font-weight: bold;
}
.div-inicio-foto .nome-pts .pts {
    font-size: 18px;
}
.options-foto-perfil a {
    display: block;
    text-align: center;
}
#btn-publicar, #btn-conteudo, #btn-questao {
    float: right;
    border: 1px solid rgba(128, 128, 128, 0.52);
    height: 25px;
    line-height: 24px;
}
#btn-conteudo, #btn-questao {
    margin-top: 10px;
}
#name-file, #name-file-cont {
    vertical-align: top;
    padding-left: 5px;
    /* width: calc(100% - 150px); */
    word-break: break-all;
    display: inline-block;
}
.clear {
    clear: both;
}
.inicio-medalhas i {
    vertical-align: middle;
    margin: 0 15px;
}
.mdi:before, .mdi-set {
    line-height: 1;
}

.container-conteudo div {
}
.mdi-medal:before {
    content: url('medals/medal.svg');
}
.nenhuma-pub {
    font-weight: 500;
    color: gray;
    margin-left: 10px;
    text-align: center;
    margin-top: 30px;
}
.btns-publicar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-mostrar-mais {
    width: 100%;
    margin-top: 10px;
}
.div-comentarios {
    height: auto;
}
.div-comentar {
    display: flex;
    align-items: center;
}
.div-comentarios .comentario {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
}
.div-comentarios .comentario .nome-user {
    display: block;
    font-weight: 600;
    color: #26a69a;
}
.div-comentar textarea {
    height: 2rem;
}
.div-comentarios .circle-img, .div-comentar .circle-img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
    margin-right: 10px;
}
.container-comentarios {
    display: block;
    border-left: 1px solid rgba(226, 226, 226);
}
.midia-publicacao {
    margin-bottom: 10px;
    margin-top: 5px;

}
.comentario-txt-nome {
    /* border-bottom: 1px solid rgb(230,230,230);
    padding-bottom: 4px; */
}
</style>

<script>
    console.log("usuario ta aqui: ", getUser());
</script>
<div class="div-inicio-foto">
    <div id="div-foto-inicio" class="circle-img"
         {{if ~getUser().fotoPerfil != null}}
            style="background-image: url('{{getUrlFotoPerfil:~getUser().fotoPerfil}}')"
        {{/if}}>
</div>
    <div class="nome-pts">
        <span id="nome">{{*:user.nome}}</span>
        <br>
        <span class="pts"><span id="pts-usuario"></span>{{*:user.pontuacao}} pontos</span>
    </div>
</div>

<!-- https://icons8.com/icon/set/troph/color -->
<div class="inicio-medalhas">
    {{for ~getUser().medalhas}}
    <div class="item-flex medal"><img 
        {{if qtd >= 500}}
        src="img/ouromedal.png"
        {{else}}
        {{if qtd >= 50}}
        src="img/pratamedal.png"
        {{else}}
        {{if qtd >= 10}}
        src="img/bronzemedal.png"
        {{else}}
        src="img/nomedal.png"
        {{/if}}
        {{/if}}
        {{/if}}
        ></i>{{:nome}}</div>
        {{/for}}
    </div>



<div class="publicar">
    {{if ~getUser().professor == 1}}
    <div class="publicar-options">
        <a href="#container-publicar" class="option-publicar"><i class="material-icons">edit</i>&nbsp;Publicação</a>
        <a href="#container-questao" class="option-publicar"><i class="material-icons">format_list_bulleted</i>&nbsp;Questão</a>
        <a href="#container-conteudo" class="option-publicar"><i class="material-icons">local_library</i>&nbsp;Conteúdo</a>
    </div>
    {{/if}}

    <section class="container-publicar">
        <textarea id="publicar-txt-area" class="publicar-txt-area" placeholder="Comece a digitar..."></textarea>
        <div class="btns-publicar">
            <a id="choose-file" class="a-no-decoration"><i id="choose-file-i" class="material-icons">attachment</i>
                <span id="name-file"></span>
            </a>
            <a id="btn-publicar" class="waves-effect waves-light btn btn-flat">Publicar</a>
        </div>
        <input id="file" type="file"/>
    </section>

    <section class="container-conteudo">
        <div>
            <select id="nivel">
                <option selected disabled>Nível</option>
            </select>
        </div>
        <div>
            <select id="serie">
                <option selected disabled>Serie</option>
            </select>
        </div>
        <div>
            <select id="disciplina">
                <option selected disabled>Disciplina</option>
            </select>
        </div>
        <div>
            <select id="topico">
                <option selected disabled>Tópico</option>
            </select>
        </div>
        <div>
            <label for="titulo">Título</label>
            <input id="titulo" type="text">
        </div>
        <div class="input-field">
            <textarea id="descricao" class="materialize-textarea"></textarea>
            <label for="descricao">Descrição</label>
        </div>
        <div class="btns-publicar">
            <div>
                <input class="hide" id="video" type="file" accept="video/*">
                <a id="choose-file-cont" class="a-no-decoration">
                    <i id="choose-file-i-cont" class="material-icons">attachment</i><span id="name-file-cont"></span>
                </a>
            </div>
            <button id="btn-conteudo" class="waves-effect waves-light btn btn-flat">Inserir</button>
        </div>
    </section>

    <section class="container-questao">
        <div>
            <select id="disciplina-questao">
                <option selected disabled>Disciplina</option>
            </select>
        </div>
        <div>
            <select id="topico-questao">
                <option selected disabled>Tópico</option>
            </select>
        </div>
        <div>
            <label>Tipo</label>
            <select id="tipo_pergunta-questao" required>
                <option selected disabled>Tipo de pergunta</option>
                <option value="1">Mútipla escolha</option>
                <option value="2">Verdadeiro ou falso</option>
            </select>
        </div>
        <div id="container_alternativas-questao" class="hide">
            <label>Número de alternativas</label>
            <select id="num_alternativas-questao" required>
                <option selected disabled>N° de alternativas</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="input-field">
            <textarea id="enunciado-questao" class="materialize-textarea"></textarea>
            <label for="enunciado-questao">Enunciado</label>
        </div>
        <div id="alternativas-questao" class="hide">

        </div>
        <div>
            <label>Resposta</label>
            <select id="resposta-questao" required>
                <option selected disabled>Resposta</option>
            </select>
        </div>

        <button id="btn-questao" class="waves-effect waves-light btn btn-flat">Inserir</button>
    </section>

    <div class="clear"></div>
</div>




{{if posts.length == 0}}
<div class="nenhuma-pub">
    Nenhuma publicação.
</div>
{{/if}}
<div id="container-publicacoes-inicio">
    {{for posts ~userId=~getUser().id ~fotoPerf=foto_perfil}}
    <div class="publicacao publicacao-{{:tipo}}-{{:id}}">
            <span class="hora-publicacao"><span style="display: block;">{{formataData:data}} </span>
            {{if ~isUser(id_usuario)}}
            <i style="display: block;" class="material-icons dropdown-trigger right" data-target='dropdown-{{:id}}'>more_vert</i></span>
        <ul id='dropdown-{{:id}}' class='dropdown-content'>
            <li><a class="delete-conteudo" data-id-conteudo="{{:id}}" data-tipo-conteudo="{{:t}}">Excluir</a></li>
        </ul>
        {{else}}
        </span>
        {{/if}}
        <div class="img-txt-publicacao">
            <div class="publicacao-image circle-img"
                 {{if usuario.fotoPerfil != null}}
                 style="background-image: url('{{getUrlFotoPerfil:usuario.fotoPerfil}}')"
                 {{/if}}
            ></div>
        <div class="usuario-e-txt-publicacao">
            <a {{if ~userId == id_usuario}}{{else}} href="#perfil_1?{{:id_usuario}}" {{/if}} class="usuario-publicacao">{{:usuario.nome}}</a>
            <br>
            <span class="txt-publicacao">{{:descricao}}</span>
        </div>
    </div>
    <div class="midia-publicacao">
        {{if id != id}}
        {{if ~testMidiaIsImage(tipo)}}
        <img src="" class="responsive-img">
        {{else}}
        <video class="responsive-video" controls><source src="" type=""></video>
        {{/if}}
        {{/if}}
    </div>
    <div class="container-comentarios">
        <div id="div-comentarios-{{:tipo}}{{:id}}" class="div-comentarios">
        {{for comentarios}}
        <div class="comentario">
            <div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
            <div class="comentario-txt-nome">
                <span class="nome-user">{{:nome}}</span>
                <span>{{:texto}}</span>
            </div>
        </div>
        {{/for}}
    </div>
    <div class="div-comentar">

        <div class="circle-img"  {{*:convertFotoPerfilBackgroundImg(user)}}></div>
        <textarea id="comentar-{{:t}}-{{:id_conteudo}}" class="materialize-textarea input-comentar" placeholder="Comentar..."></textarea>
        <i id="" data-id-conteudo="{{:id_conteudo}}" data-tipo-conteudo="{{:t}}" class="btn-comentar mdi mdi-comment-text-outline mdi-24px" style="color: gray;"></i>
    </div>
</div>
</div>
{{/for}}
</div>

{{if posts.length >= 5}}
<div id="container-btn-mais">
    <a id="btn-mostrar-mais" class="waves-effect waves-light btn btn-mostrar-mais"><i class="material-icons left">add</i>mostrar mais</a>
    <div class="container-loading mostrar-mais-loading hide">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>
{{/if}}


<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content options-foto-perfil">
        <div id="container-btns-foto">
            <div>
                <a id="btn-alterar-foto" class="waves-effect waves-green btn-flat">Alterar foto</a>
            </div>
            <div>
                <a id="btn-remover-foto" class="waves-effect waves-green btn-flat">Remover foto</a>
            </div>
        </div>
        <div id="container-loading-foto" class="hide"></div>
    </div>
</div>

<form id="form-alterar-foto" class="hide" enctype="multipart/form-data">
    <input type="file" name="foto_perfil" id="input_alterar_foto_perfil" accept="image/*">
</form>

<script>

    renderMenuLateral(getUser());

    $('.dropdown-trigger').dropdown();
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.dropdown-trigger');
    //     var instances = M.Dropdown.init(elems);
    // });

    //getFotoPerfilFromDB(user.foto_perfil);

    // Mostrar mais inicio ##########################################
    var qtd_por_vez = 5;
    var contador_pages = 1;

    var container_publicacoes = $("#container-publicacoes-inicio");

    function showLoadingMostrarMais () {
        $("#btn-mostrar-mais").hide();
        $(".container-loading.mostrar-mais-loading").removeClass("hide");
    }

    function hideLoadingMostrarMais () {
        $(".container-loading.mostrar-mais-loading").addClass("hide");
        $("#btn-mostrar-mais").show();
    }

    $("#btn-mostrar-mais").click(function(event) {
        showLoadingMostrarMais();
        $.ajax({
            url: host + 'app/getPublicacoesParaInicio',
            data: {id: user.id, limit: qtd_por_vez, offset: (qtd_por_vez * contador_pages)},
        })
            .done(function(d) {
                var data = convertToJSON(d);
                console.log("mostrar mais:", data);
                var tmpl = $.templates("#publicacao-inicio");
                var html = tmpl.render(data.posts);
                container_publicacoes.append(html);
                if (data.posts.length < qtd_por_vez) {
                    $("#container-btn-mais").hide();
                }
                $('.dropdown-trigger').dropdown();
                hideLoadingMostrarMais();

                contador_pages++;
            })
            .fail(function(d) {
                console.log("error", d);
            });

    });

    // Mostrar mais fim ######################################


    // $("#img-pub").attr('src', host + 'app/showMidiaPublicacao?nome=icon.png5b0da87acab73.png');
    // $("#src-video").attr('src', host + 'app/showMidiaPublicacao?nome=Troye-Sivan---WILD--(Lyric-Video).mp45b0dae5c045f2.mp4');

    $(document).ready(function () {
        $('.sidenav').sidenav();
        $("#nav").removeClass('hide');
    });

    // $.get(host + 'usuario/getPontosUsuario?id={{:id}}' , function (d) {
    //     var data = convertToJSON(d);
    //     console.log('pontos:', data);
    //     if (data.pontos !== undefined) {
    //         if (data.pontos == null)
    //             $("#pts-usuario").html(0);
    //         else
    //             $("#pts-usuario").html(data.pontos);
    //     }
    // });

    //var user = convertToJSON(localStorage.getItem('usuario'));
    $("#nome").html(getUser().nome);
    $("#nome-menu").html(getUser().nome);
    // setFotoPerfil();

    $("#choose-file-i").click(function(){
        $('#file').trigger('click');
    });

    $("#choose-file-i-cont").click(function(){
        $('#video').trigger('click');
    });

    $("#file").change(function (argument) {
        var file = $(this).prop('files')[0];
        console.log(file);
        $("#name-file").html(file.name);
    });

    $("#video").change(function (argument) {
        var file = $(this).prop('files')[0];
        console.log(file);
        $("#name-file-cont").html(file.name);
    });

    $("#btn-publicar").click(function(event) {
        var formData = new FormData();

        var myFile = $('#file').prop('files')[0];
        var texto = $("textarea#publicar-txt-area").val();
        console.log(texto, myFile);

        if (!texto && !myFile) {
            M.toast({html: 'Digite algo ou insira um arquivo', displayLength: 1000});
            return;
        }

        formData.append('midia_publicacao', myFile);
        formData.append('idUsuario', user.id);
        formData.append('texto', texto);

        $.ajax({
            url: host + 'publicacao/criarPublicacao',
            type: 'POST',
            data: formData,
            success: function (d) {
                console.log('success');
                console.log(d);
                console.log(convertToJSON(d));
                var input = $("#file");
                input.replaceWith(input.val('').clone(true));
                $("#publicar-txt-area").val('');
                $("#name-file").html('');
                $(document).trigger('hashchange');
            },
            error: function (d) {
                console.log('success');
                console.log(d);
            },
            cache: false,
            processData: false,
            contentType: false
        });
    });

    var selects = document.querySelectorAll('select');
    var instances = M.Select.init(selects);

    $(document).ready(function(){
        $("#container-loading-foto").html(loadingTemplate.render());
        var elem = document.getElementById('modal1');
        var modal_foto_perfil = M.Modal.init(elem, {'dismissible': true});

        $("#div-foto-inicio").click(function () {
            console.log('pegou click');
            modal_foto_perfil.open();
        });

        $("#btn-alterar-foto").click(function () {
            $("#input_alterar_foto_perfil").click();
        });

        $("#input_alterar_foto_perfil").change(function () {
            modal_foto_perfil.options.dismissible = false;
            $("#container-loading-foto").removeClass('hide');
            $("#container-btns-foto").hide();

            var formData = new FormData(document.getElementById("form-alterar-foto"));
            formData.append('id', user.id);
            formData.append('numero', user.num_telefone);
            $.ajax({
                url: host + 'midia/alterarFotoPerfil',
                type: 'POST',
                data: formData,
                success: function (d) {
                    console.log("Ajax mudar foto:", d);
                    var dataJSON = convertToJSON(d);
                    user.foto_perfil = dataJSON.data.nome;
                    localStorage.setItem('usuario', JSON.stringify(user));
                    setFotoPerfil();
                },  error: function (d) {
                    alert('Houve um erro na solicitação');
                },
                complete: function (d) {
                    $("#dados-user-menu").html(JSON.stringify(user));
                    modal_foto_perfil.close();
                    $("#container-loading-foto").addClass('hide');
                    $("#container-btns-foto").show();
                    modal_foto_perfil.options.dismissible = true;
                },
                cache: false,
                contentType: false,
                processData: false
            });

        });

        $("#btn-remover-foto").click(function () {
            modal_foto_perfil.options.dismissible = false;
            $("#container-loading-foto").removeClass('hide');
            $("#container-btns-foto").hide();

            $.ajax({
                url: host + 'midia/removerFotoPerfil',
                type: 'GET',
                data: {
                    id: user.id
                },
                success: function (data) {
                    var dataJSON = convertToJSON(data);
                    if (dataJSON.response == 'true') {
                        user.foto_perfil = null;
                        localStorage.setItem('usuario', JSON.stringify(user));
                        setFotoPerfil();
                    } else {
                        alert('Erro ao remover foto');
                    }
                }, error: function (data) {
                    alert('Erro na solicitação');
                },
                complete: function (d) {
                    $("#dados-user-menu").html(JSON.stringify(user));
                    modal_foto_perfil.close();
                    $("#container-loading-foto").addClass('hide');
                    $("#container-btns-foto").show();
                    modal_foto_perfil.options.dismissible = true;
                },
            });
        });
    });


    $("#btn-conteudo").click(function(event) {
        var id = user.id;
        var niv = $("#nivel").val();
        var ser = $("#serie").val();
        var dis = $("#disciplina").val();
        var top = $("#topico").val();
        var tit = $("#titulo").val();
        var des = $("#descricao").val();
        var vid = $("#video").prop('files')[0];

        console.log(niv, ser, dis, top, tit, des, vid);

        if (!validateFields([niv, ser, dis, top, tit, des])) {
            console.log('Preencha todos os campos');
            M.toast({html: 'Preencha todos os campos', displayLength: 1000});
            return;
        }

        var formData = new FormData();
        formData.append("id_usuario", id);
        formData.append("nivel", niv);
        formData.append("serie", ser);
        formData.append("disciplina", dis);
        formData.append("topico", top);
        formData.append("titulo", tit);
        formData.append("descricao", des);
        formData.append("arquivo", vid);

        $.ajax({
            url: host + 'conteudo/criarConteudo',
            type: 'POST',
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
        })
            .done(function(d) {
                console.log("success");
                console.log(d);
                console.log(convertToJSON(d));
                var data = convertToJSON(d);
                if (data.response == 'true') {
                    M.toast({html: 'Conteúdo inserido com sucesso', displayLength: 1000});
                    setTimeout(function (argument) {
                        $(document).trigger('hashchange');
                    },1000);
                } else {
                    M.toast({html: 'Erro ao inserir', displayLength: 1000});
                }
            })
            .fail(function(d) {
                console.log("error");
                M.toast({html: 'Erro ao inserir', displayLength: 1000});
                console.log(d);
            })
            .always(function(d) {
                console.log("complete");
            });


    });

    function validateFields(arr) {
        var b = true;
        $.each(arr, function(index, el) {
            if (el === null || el === "" || el === undefined) {
                b = false;
                return;
            }
        });
        return b;
    }



    $.get(host + 'escola/getNiveisEscolares', function (data) {
        data = convertToJSON(data);
        $.each(data, function(index, el) {
            $("#nivel").append(new Option(el.nome, el.id));
        });
        var selects = document.querySelectorAll('select');
        var instances = M.Select.init(selects);
    });

    $.get(host + 'escola/getDisciplinas', function (data) {
        data = convertToJSON(data);
        $.each(data, function(index, el) {
            $("#disciplina").append(new Option(el.nome, el.id));
        });
        var selects = document.querySelectorAll('select');
        var instances = M.Select.init(selects);
    });

    $("#nivel").change(function (argument) {
        var niv = $(this).val();
        $('#serie').find('option').remove().end().append('<option selected disabled>Serie</option>');
        $.get(host + 'escola/getSeriesByNivel?id_nivel=' + niv, function (data) {
            data = convertToJSON(data);
            console.log(data);
            $.each(data, function(index, el) {
                $("#serie").append(new Option(el.nome, el.id));
            });
            var selects = document.querySelectorAll('select');
            var instances = M.Select.init(selects);
        });
    });

    $("#disciplina").change(function (argument) {
        var dis = $(this).val();
        $('#topico').find('option').remove().end().append('<option selected disabled>Tópico</option>');
        $.get(host + 'escola/getTopicosByDisciplina?id_disciplina=' + dis, function (data) {
            data = convertToJSON(data);
            console.log(data);
            $.each(data, function(index, el) {
                $("#topico").append(new Option(el.nome, el.id));
            });
            var selects = document.querySelectorAll('select');
            var instances = M.Select.init(selects);
        });
    });

    var sec = $(".publicar section");
    var opp = $(".option-publicar");
    opp.css({'background-color': 'white'});
    if ("{{:professor}}" == 1)
        opp.first().css({'background-color': 'rgba(229, 231, 232, 0.5)'});
    console.log(sec);
    sec.css('display', 'none');
    sec.first().css('display', 'block');

    $(".option-publicar").click(function(event) {
        event.preventDefault();
        var h = $(this).prop('href').replace(/^.*#/, '');
        console.log(h);
        sec.css('display', 'none');
        opp.css({'background-color': 'white'});
        if ("{{:professor}}" == 1)
            $(this).css({'background-color': 'rgba(229, 231, 232, 0.5)'});
        $("." + h).css({'display': 'block'});
    });

    // Comentario inicio ###############################################

    $("#container-publicacoes-inicio").on("click", ".btn-comentar", function(event) {
        var id_conteudo = $(this).attr('data-id-conteudo');
        var tipo_conteudo = $(this).attr('data-tipo-conteudo');
        var texto = $("#comentar-" + tipo_conteudo + "-" + id_conteudo).val();
        if (!texto) {
            M.toast({html: 'Digite algo', displayLength: 1000});
            return;
        }
        console.log(id_conteudo, tipo_conteudo, texto);

        $.ajax({
            url: host + 'comentario/addComentario',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                "tipo_conteudo": tipo_conteudo,
                "id_conteudo": id_conteudo,
                "texto": texto,
                "id_usuario": user.id
            }),
        })
            .done(function(d) {
                console.log("success:", d);
                $(".input-comentar").val('');
                var tmpl = $.templates("#template-comentario");
                var html = tmpl.render({"foto_perfil": user.foto_perfil, "nome": user.nome, "texto": texto});
                $("#div-comentarios-" + tipo_conteudo + id_conteudo).append(html);
            })
            .fail(function(d) {
                console.log("error:", d);
            });

    });


    // Comentario fim ##################################################
</script>

<script type="text/javascript" src="js/add-questao.js"></script>

<script type="text/javascript">
    // Deletar conteudo inicio ###################################################

    $("#container-publicacoes-inicio").on('click', '.delete-conteudo', function(event) {
        console.log('clicou excluir');
        var id = $(this).attr('data-id-conteudo');
        var tipo = $(this).attr('data-tipo-conteudo');
        console.log(id, tipo);
        $(this).addClass("disabled");

        $.ajax({
            url: host + 'app/deletePublicacaoOuAcao',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                id_usuario: user.id,
                tipo_conteudo: tipo,
                id_conteudo: id
            })
        })
            .done(function(d) {
                console.log("success excluir conteudo:", d);
                $(".publicacao-" + tipo + "-" + id).remove();
                M.toast({html: 'Excluído com sucesso', displayLength: 1000});
                $(this).removeClass("disabled");
            })
            .fail(function(d) {
                console.log("error excluir conteudo:", d);
                $(this).removeClass("disabled");
            });

    });

    // Deletar conteudo fim ###################################################
</script>
