<div class="titulo-header">
    Inicializando...
</div>
<div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
   Por favor, aguarde um instante
</div>
<div style="position: absolute; width: 20%; height: 20%; left: 0; right: 0; bottom: 0; top: 0; margin: auto; ">
    <div id="div-loading" class="center" style="padding: 2%;">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute; bottom: 5%; text-align: center; left: 0; right: 0;">
<!--<a href="#selecionar-escola">Encontrou</a>-->
    <!--<br>-->
<!--<a href="#selecionar-escola">Não encontrou</a>-->
</div>
<script>
    // setTimeout(function () {
    //     window.location.hash = '#selecionar-escola';
    // }, 1000);
    var tmp = convertToJSON(localStorage.getItem('tmp_data'));

    $.ajax({
        url: host + 'usuario/userExists',
        data: {
            numero: tmp.numero
        },
        success: function (d) {
            var res = convertToJSON(d);
            console.log(res);
            if (res.response === 'true') {
                // localStorage.setItem('token', res.token);
                localStorage.setItem('usuario', JSON.stringify(res.data));
                // myHistory = [];
                window.location.hash = 'editar-nome-foto';
            } else {
                // myHistory = [];
                window.location.hash = 'selecionar-escola';
            }
        }, error: function (d) {
            alert('error');
            console.log(d);
        }
    });
</script>