<style>
    html {
        height: 100%;
    }

    body {
        position: relative;
        min-height: 100%;
        padding-bottom: 6rem;
    }
</style>
<div class="titulo-header">
    Verifique seu número
</div>
<div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
    O EscolaVerde enviará um SMS para
    verificar seu número de telefone.
    Insira o DDD do seu Estado e seu número de telefone:
</div>

<form id="form-inserir-numero" class="col s12">
    <div class="input-field col s12">
        <input id="numero" type="text" class="validate" value="(99) 99999-9999" pattern="\(\d{2}\)\s{1}\d{5}-\d{4}"
               autocomplete="off">
        <label for="numero">DDD e Número</label>
    </div>
</form>

<div class="termos-footer">
    <a class="waves-effect waves-light btn" id="confirmar-numero" style="min-width: 250px;">Avançar</a>
</div>

<script>

    $("#numero").mask("(00) 00000-0000");

    $('#confirmar-numero').click(function () {
        console.log($('#numero').val());
        if (!validateInputs()) {
            $('#numero').focus();
            return;
        }
        $('#confirmar-numero').addClass('disabled');
        var numero = $('#numero').val().replace(/\(|\)|\s|-/g, '');
        setTempItem('numero',numero);
        makeRequestEnviarSms(numero);
    });

    $("#form-verificar-numero").submit(function (event) {
        event.preventDefault();
        $('#confirmar-numero').click();
    });

    function validateInputs() {
        return /\(\d{2}\)\s{1}\d{5}-\d{4}/.exec($('#numero').val());
    }

    function makeRequestEnviarSms(numero) {
        var url = em_teste === true ? 'app/enviar-sms-fake' : 'app/enviar-sms';
        $.ajax({
            url: host + url,
            type: 'GET',
            data: {
                numero: numero
            }, success: function (d) {
                console.log(d);
                $('#confirmar-numero').removeClass('disabled');
                if (d.response)
                    window.location.hash = 'confirmar-codigo?' + $('#numero').val();
                else
                    showToast(d.data);//alert(d.data);
            }, error: function (d) {
                tratarRequestErro(d);
            }
        });
    }

    M.updateTextFields();
</script>
