<style type="text/css">
.header-mat-estudo {
	min-height: 30px;
	width: calc(100% + 200px);
	margin-left: -100px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.filtros-materias .input-field {
	/* margin-top: 10px; */
}
.grey-txt {
	color: grey;
}
.filtros-materias {
	margin: 20px 0;
}
.container-conteudo {
	margin-bottom: 20px;
}
div.img-video {
	/* display: inline-block; */
	float: left;
	height: 55px;
	width: 105px;
	border: 1px solid gray;
	margin-right: 5px;
}
div.container-desc-video {
	/* display: inline-block; */
}
.titulo-video, .descricao-video {
	display: block;
}
.clear {
	clear: both;
}
.container-desc-video .titulo-video {
	font-weight: bold;
	font-size: 14px;
	color: #549788;
}
.container-desc-video .descricao-video {
	font-size: 12px;
	color: gray;
}
.container-conteudo img {
	width: 80px;
	float: left;
}
.nenhum-resultado {
	font-weight: 500;
	color: gray;
	margin-left: 10px;
}
.select-wrapper input.select-dropdown {
	z-index: 0;
}
</style>

<div class="header-mat-estudo teal lighten-2">
	<div class="icon-swords">
		<i class="mdi mdi-youtube-tv mdi-48px"></i>
		<br>
		<span class="txt-conteudo">Conteúdo</span>
	</div>
</div>


<span class="grey-txt">Selecione o conteúdo que deseja visualizar</span>
<div class="filtros-materias s12 m12">
	<div class="input-field col s6 m6">
		<select id="fonte">
			<option value="1">Fontes de conteúdo</option>
			<option value="1">Todos</option>
			<option value="2">Meus</option>
			<option value="3">Colegas</option>
		</select>
	</div>
</div>


<section id="lista-conteudos">
	{{if data.length == 0}}
	<span class="nenhum-resultado">Nenhum resultado.</span>
	{{/if}}
	{{for data}}
	<div class="container-conteudo ver-video-conteudo" data-id="{{:id}}" data-nome-midia="{{:nome_midia}}">
		<img src="img/video2.png">
		<div class="container-desc-video">
			<span class="titulo-video">{{:titulo}}</span>
			<span class="descricao-video">{{:descricao}}</span>
		</div>
		<!-- <span>Por: {{:id_usuario}}</span> -->
		<div class="clear"></div>
	</div>
	{{/for}}
</section>

<!-- <div class="container-conteudo">
	<div class="img-video"></div>
	<div class="container-desc-video">
		<span class="titulo-video">Titulo</span>
		<span class="descricao-video">Descricao</span>
	</div>
	<div class="clear"></div>
</div> -->


<script type="text/javascript">
	$("#nav").removeClass('hide');
	var selects = document.querySelectorAll('select');
	var instances = M.Select.init(selects);

	var id_top = {{:id}};

	console.log('id::', {{:id}});

	var container_conteudos = $("#lista-conteudos");

	// $(".container-conteudo").click(function(event) {
		$(document).on('click', '.ver-video-conteudo', function(event) {
			var nm = $(this).attr('data-nome-midia');
			var link = (host + "app/showMidiaConteudo?nome=" + nm).trim();
			console.log('nome midia:', nm);
			console.log('link:', link);
			if (device.platform == 'browser')
				window.open(link,'_blank');
			else
				playVideo(link);
		});

	// $(document).on('click', '.container-conteudo', function(event) {
	// 	event.preventDefault();
	// 	/* Act on the event */
	// });

	$("#fonte").change(function(event) {
		var val = $(this).val();
		console.log('valor fonte:', val);
		if (val == 1)
			getConteudosTodos();
		if (val == 2)
			getConteudosMeus();
		if (val == 3)
			getConteudosColegas();
	});

	function getConteudosTodos(){
		$.ajax({
			url: host + 'conteudo/getConteudosByTopico',
			data: {'id_topico': id_top},
		})
		.done(function(d) {
			console.log("success");
			var data = convertToJSON(d);
			console.log('resposta json:', data);
			if (data.length == 0) {
				container_conteudos.html('<span class="nenhum-resultado">Nenhum resultado.</span>');
				return;
			}
			var tmpl = $.templates("#template-item-conteudo");
			var html = tmpl.render(data);
			container_conteudos.html(html);
		})
		.fail(function(d) {
			console.log("error:", d);
		})
		.always(function() {
			console.log("complete");
		});
	}

	function getConteudosMeus(){
		$.ajax({
			url: host + 'conteudo/getConteudosByTopicoAndUsuario',
			data: {'id_topico': id_top, 'id_usuario': user.id},
		})
		.done(function(d) {
			console.log("success");
			var data = convertToJSON(d);
			console.log('resposta json:', data);
			if (data.length == 0) {
				container_conteudos.html('<span class="nenhum-resultado">Nenhum resultado.</span>');
				return;
			}
			var tmpl = $.templates("#template-item-conteudo");
			var html = tmpl.render(data);
			container_conteudos.html(html);
		})
		.fail(function(d) {
			console.log("error:", d);
		})
		.always(function() {
			console.log("complete");
		});
	}

	function getConteudosColegas(){
		$.ajax({
			url: host + 'conteudo/getConteudosByTopicoAndColegas',
			data: {'id_topico': id_top, 'id_usuario': user.id},
		})
		.done(function(d) {
			console.log("success");
			var data = convertToJSON(d);
			console.log('resposta json:', data);
			if (data.length == 0) {
				container_conteudos.html('<span class="nenhum-resultado">Nenhum resultado.</span>');
				return;
			}
			var tmpl = $.templates("#template-item-conteudo");
			var html = tmpl.render(data);
			container_conteudos.html(html);
		})
		.fail(function(d) {
			console.log("error:", d);
		})
		.always(function() {
			console.log("complete");
		});
	}

</script>