<style type="text/css">
.header-mat-estudo {
	min-height: 30px;
	width: calc(100% + 200px);
	margin-left: -100px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.filtros-materias .input-field {
	/* margin-top: 10px; */
}
.grey-txt {
	color: grey;
}
.filtros-materias {
	margin: 20px 0;
	/* display: flex;
	align-items: center; */
}
.conteudo-material {
	margin-top: 10px;
}
.conteudo-material .titulo-conteudo .titulo {
	text-transform: uppercase;
	font-weight: bold;
	color: #26a69a;
	font-size: 12px;
}
.conteudo-material .titulo-conteudo .ver-tudo {
	color: blue;
	font-size: 8px;
	float: right;
	margin-top: 5px;
}
.conteudo-material .conteudo-inline {
	display: flex;
	align-items: baseline;
	overflow-x: scroll;
}
.conteudo-material .conteudo-inline .item-conteudo {
	padding: 5px 15px;
	text-align: center;
}
.conteudo-material .conteudo-inline .item-conteudo span {
	display: block;
}
.conteudo-material .conteudo-inline .item-conteudo .titulo-item-conteudo {
	color: grey;
	font-size: 10px;
}
.conteudo-material .conteudo-inline .circle-img {
	width: 60px;
	height: 60px;
}
.desafiar-questoes {
	width: 90%;
	position: fixed;
	bottom: 10px;
}
</style>

<div class="header-mat-estudo teal lighten-2">
	<div class="icon-swords">
		<i class="mdi mdi-youtube-tv mdi-48px"></i>
		<br>
		<span class="txt-conteudo">Conteúdo</span>
	</div>
</div>

<span class="grey-txt">Selecione o conteúdo que deseja visualizar</span>
<div class="filtros-materias s12 m12">
	<div class="input-field col s6 m6">
		<select>
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="1">Ensino médio</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<!-- <label>Materialize Select</label> -->
	</div>
	<div class="input-field col s6 m6">
		<select>
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="1">3º ano</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<!-- <label>Materialize Select</label> -->
	</div>
	<div class="input-field col s6 m6">
		<select>
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="1">Todas as disciplinas</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
		<!-- <label>Materialize Select</label> -->
	</div>
</div>

<div class="conteudo-material">
	<div class="titulo-conteudo">
		<span class="titulo">Matematica</span>
		<span class="ver-tudo">Ver tudo</span>
	</div>
	<div class="conteudo-inline">
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
	</div>
</div>

<div class="conteudo-material">
	<div class="titulo-conteudo">
		<span class="titulo">Geografia</span>
		<span class="ver-tudo">Ver tudo</span>
	</div>
	<div class="conteudo-inline">
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Mapas</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Sistema solar</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
	</div>
</div>

<div class="conteudo-material">
	<div class="titulo-conteudo">
		<span class="titulo">História</span>
		<span class="ver-tudo">Ver tudo</span>
	</div>
	<div class="conteudo-inline">
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
		<div class="item-conteudo">
			<div class="circle-img"></div>
			<span class="titulo-item-conteudo">Vetores</span>
		</div>
	</div>
</div>

<a href="#resultado-desafio-questoes" class="waves-effect waves-light btn desafiar-questoes"><i class="material-icons left">touch_app</i>Desafiar estas questões</a>

<script type="text/javascript">
	$("#nav").removeClass('hide');

	var selects = document.querySelectorAll('select');
	var instances = M.Select.init(selects);

	$( ".conteudo-material" ).last().css( "margin-bottom", "55px" );

	// $(function() {
	// 	var $body = $(document);
	// 	$body.bind('scroll', function(e) {
	// 		e.preventDefault();
	// 		console.log('rolou');
	// 		console.log($body.scrollLeft());
 //        // "Disable" the horizontal scroll.
 //        if ($body.scrollLeft() !== 0) {
 //        	$body.scrollLeft(0);
 //        }
 //    });
	// }); 

</script>