<style type="text/css">
.header-mat-estudo {
	min-height: 30px;
	width: calc(100% + 200px);
	margin-left: -100px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
}
.filtros-materias .input-field {
	/* margin-top: 10px; */
}
.grey-txt {
	color: grey;
}
.filtros-materias {
	margin: 20px 0;
	/* display: flex;
	align-items: center; */
}
.conteudo-material {
	margin-top: 10px;
	min-height: 110px;
}
.conteudo-material .titulo-conteudo .titulo {
	text-transform: uppercase;
	font-weight: bold;
	color: #26a69a;
	font-size: 12px;
}
.conteudo-material .titulo-conteudo .ver-tudo {
	color: blue;
	font-size: 8px;
	float: right;
	margin-top: 5px;
}
.conteudo-material .conteudo-inline {
	display: flex;
	align-items: baseline;
	overflow-x: scroll;
}
.conteudo-material .conteudo-inline .item-conteudo {
	padding: 5px 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
}
.conteudo-material .conteudo-inline .item-conteudo span {
	display: block;
}
.conteudo-material .conteudo-inline .item-conteudo .titulo-item-conteudo {
	color: grey;
	font-size: 10px;
}
.conteudo-material .conteudo-inline .circle-img {
	width: 60px;
	height: 60px;
}
.desafiar-questoes {
	width: 90%;
	position: fixed;
	bottom: 10px;
}
.container {
	margin-bottom: 60px;
}
</style>

<div class="header-mat-estudo teal lighten-2">
	<div class="icon-swords">
		<i class="mdi mdi-youtube-tv mdi-48px"></i>
		<br>
		<span class="txt-conteudo">Conteúdo</span>
	</div>
</div>

<span class="grey-txt">Selecione o conteúdo que deseja visualizar</span>
<div class="filtros-materias s12 m12">
	<div class="input-field col s6 m6">
		<select id="nivel">
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="0">Todos os níveis</option>
		</select>
	</div>
	<div class="input-field col s6 m6">
		<select id="serie">
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="0">Todas as series</option>
		</select>
		<!-- <label>Materialize Select</label> -->
	</div>
	<div class="input-field col s6 m6">
		<select id="disciplina">
			<!-- <option value="" disabled selected>Choose your option</option> -->
			<option value="0">Todas as disciplinas</option>
		</select>
		<!-- <label>Materialize Select</label> -->
	</div>
</div>

{{for disciplinas}}
<div id="disciplina-{{:id}}" class="conteudo-material">
	<div class="titulo-conteudo">
		<span class="titulo">{{:nome}}</span>
		<!-- <span class="ver-tudo">Ver tudo</span> -->
	</div>
	<div class="conteudo-inline">
		{{for topicos}}
		<div data-id="{{:id}}" class="item-conteudo">
			<div class="circle-img material-estudo-img"></div>
			<span class="titulo-item-conteudo">{{:nome}}</span>
		</div>
		{{/for}}
	</div>
</div>
{{/for}}


<a id="desafiar-questoes" class="waves-effect waves-light btn desafiar-questoes"><i class="material-icons left">touch_app</i>Desafiar estas questões</a>

<script type="text/javascript">
	$("#nav").removeClass('hide');

	nivel_conteudo = 0;
	serie_conteudo = 0;
	disciplina_conteudo = 0;

	var disciplinas_containers = $(".conteudo-material"); 

	var selects = document.querySelectorAll('select');
	var instances = M.Select.init(selects);

	// Desafiar inicio #########################################

	$("#desafiar-questoes").click(function(event) {
		var v = $("#disciplina").val();
		location.hash = 'desafiar-questoes?' + v;
	});

	// Desafiar fim ############################################

	$( ".conteudo-material" ).last().css( "margin-bottom", "55px" );

	$.get(host + 'escola/getNiveisEscolares', function (data) {
		data = convertToJSON(data);
		$.each(data, function(index, el) {
			$("#nivel").append(new Option(el.nome, el.id));
		});
		var selects = document.querySelectorAll('select');
		var instances = M.Select.init(selects);
	});

	$("#nivel").change(function (argument) {
		var niv = $(this).val();
		$('#serie').find('option').remove().end().append('<option value="0">Todas as series</option>');
		$.get(host + 'escola/getSeriesByNivel?id_nivel=' + niv, function (data) {
			data = convertToJSON(data);
			console.log(data);
			$.each(data, function(index, el) {
				$("#serie").append(new Option(el.nome, el.id));
			});
			var selects = document.querySelectorAll('select');
			var instances = M.Select.init(selects);
		});
		serie_conteudo = 0;
		nivel_conteudo = niv;
	});

	$.get(host + 'escola/getDisciplinas', function (data) {
		data = convertToJSON(data);
		$.each(data, function(index, el) {
			$("#disciplina").append(new Option(el.nome, el.id));
		});
		var selects = document.querySelectorAll('select');
		var instances = M.Select.init(selects);
	});



	$("#nivel").change(function(event) {
		console.log('clicou:', $(this).val());
	});
	$("#serie").change(function(event) {
		console.log('clicou:', $(this).val());
		serie_conteudo = $(this).val();
	});
	$("#disciplina").change(function(event) {
		var val = $(this).val();
		disciplina_conteudo = val;
		console.log('clicou:', $(this).val());
		if (val == 0) {
			disciplinas_containers.removeClass('hide');
		} else {
			disciplinas_containers.addClass('hide');
			$("#disciplina-" + val).removeClass('hide');
		}
		if (val !== '0') {
			$(".conteudo-material .conteudo-inline").css('flex-wrap', 'wrap');
		} else {
			$(".conteudo-material .conteudo-inline").css('flex-wrap', 'initial');
		}
	});


	$(".item-conteudo").click(function(event) {
		var id = $(this).attr('data-id');
		console.log('id', id);
		location.hash = 'lista-conteudos?' + id;
	});

</script>