<style type="text/css">
.tabs-minha-escola {
	display: flex;
	background-color: #00897b !important;
	height: 40px;
}
.tabs-minha-escola div {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 7px 0;
}
.tabs-minha-escola:before {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-left: -100%;
}
.tabs-minha-escola:after {
	content: '';
	width: 100%;
	background-color: #00897b !important;
	margin-right: -100%;
}
.tabs-minha-escola .tab {
	transition: border-bottom 1s;
}
.tabs-minha-escola .t1 {
	border-bottom: 1px solid yellow;
}
.header-minha-escola {
	text-align: center;
	/* height: 200px; */
}
.header-minha-escola-agenda {
	height: 200px;
	margin-bottom: 245px;
}
.header-minha-escola .select-wrapper {
	color:  white !important;
}
.select-aluno {
	color: white;
}

.fill-around{
	position: relative;
}
.fill-around:before {
	content: '';
	width: 100%;
	/* background-color: #76AB9F !important; */
	margin-left: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #26a69a !important;
}
.fill-around:after {
	content: '';
	width: 100%;
	/* background-color: #76AB9F !important; */
	right: 0;
	margin-right: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #26a69a !important;
}
.img-qr-code {
	display: block;
	width: 65%;
	margin: auto;
}
.instrucoes-qrcode {
	text-align: center;
	color: grey;
	font-size: 9px;
	margin: 20px 0;
}
.btn-ler-qrcode {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-ler-qrcode a {
	width: 90%;
}
.container-turma-professores-alunos {
	margin: 20px 0;
}
.turmas-titulo-prof-alunos {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #549788;
	margin-bottom: 4px;
	display: block;
}
.turma-professor-aluno {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.turma-professor-aluno .turma-nome-escola {
	flex-grow: 1;
}
.turma-professor-aluno .turma-nome-escola .nome {
	font-weight: 500;
	font-size: 14px;
	display: block;
	line-height: 0.8;
}
.turma-professor-aluno .turma-nome-escola .escola {
	font-size: 11px;
	color: grey;
}
.turma-professor-aluno .pontos {
	color: #549788;
	font-size: 12px;
}
.turma-professor-aluno .circle-img {
	margin-right: 10px;
}

.container-blend {
	width: 100%;
	min-height: 100px;
	padding: 10px;
	/* background-color: #F8FBEF; */
	margin: 15px 0;
	box-shadow: 0 9px 12px -10px grey;
	position: relative;
}
.blend {
	width: 16px;
	height: 16px;
	border-radius: 0 0 0 5px;
	background-image: -webkit-linear-gradient(44deg, #54978C 44%, white 50%);
	position: absolute;
	right: 0;
	top: 0;
}
.container-blend .materia {
	color: #549788;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	display: block;
}
.container-blend .faltas {
	font-size: 12px;
	display: block;
}
.container-blend .notas {
	font-size: 10px;
	color: grey;
	margin-top: 10px;
	display: block;
	margin-bottom: 4px;
}
.container-blend .container-notas {
	display: flex;
}
.container-blend .container-notas .nota {
	border: 1.4px solid #dadad3;
	padding: 6px;
	margin: 0 13px 0 0;
	color: grey;
	font-weight: bold;
	font-size: 18px;
	border-radius: 4px;
}
#datepicker {
	display: none;
}
.container-blend .container-notas div:not(:first-child) {
	margin-left: 0;
}
.body-agenda .datepicker-clear, .datepicker-today, .datepicker-done {
	display: none;
}
.body-agenda .row {
	margin-bottom: 0;
}
.acao-agenda {
	border-left: 5px solid #f3a442;
	box-shadow: 0px 4px 6px -4px grey;
	border-radius: 3px 0 0 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-bottom: 22px;
}
.acao-agenda .foto-descricao {
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.acao-agenda .foto-descricao .circle-img {
	margin: 0 7px;
}
.acao-agenda .foto-descricao .tipo-descricao {
	width: calc(100% - 60px);
}
.acao-agenda .foto-descricao .tipo-descricao .tipo {
	font-weight: 700;
}
.acao-agenda .foto-descricao .tipo-descricao .descricao {
	color: grey;
}
.acao-agenda .data-acao {
	line-height: 1.1;
	text-align: right;
	padding-right: 5px;
}
.acao-agenda .data-acao .dia-acao {
	color: red;
	font-weight: bold;
}
.acao-agenda .data-acao .hora-acao {
	color: #549788;
	font-weight: bold;
	font-size: 10px;
}
.body-turma .select-dropdown, .body-notas-faltas .select-dropdown {
	color: white;
}
.body-agenda .datepicker-container {
	background-color: white;
}
.body-agenda .modal {
	box-shadow: 0px 15px 37px -17px grey;
}
.header-minha-escola, .header-minha-escola-agenda {
	background-color: #26a69a !important;
}
</style>

<div class="tabs-minha-escola">
	<div id="tab-agenda" class="tab t1">Agenda</div>
	<div id="tab-notas-faltas" class="tab">Notas e faltas</div>
	<div id="tab-turma" class="tab">Turma</div>
</div>

<section class="tab-body body-agenda">

	<div class="fill-around">
		<div class="header-minha-escola header-minha-escola-agenda">
			<input type="text" id="datepicker">
		</div>
	</div>

	<p></p>

	<div class="row">
		<div class="input-field col s12">
			<select>
				<!-- <option value="" disabled selected>Choose your option</option> -->
				<option value="1">Ricardo</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>
			<!-- <label>Materialize Select</label> -->
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<select>
				<!-- <option value="" disabled selected>Choose your option</option> -->
				<option value="1">Turma A</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>
			<!-- <label>Materialize Select</label> -->
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<select>
				<!-- <option value="" disabled selected>Choose your option</option> -->
				<option value="1">Lingua Portuguesa</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>
			<!-- <label>Materialize Select</label> -->
		</div>
	</div>

	<div class="acao-agenda">
		<div class="foto-descricao">
			<div class="circle-img"></div>
			<div class="tipo-descricao">
				<span class="tipo">Prova de português</span>
				<span class="descricao">Desrespeitou o professor</span>
			</div>
		</div>
		<div class="data-acao">
			<span class="dia-acao">14 de junho</span>
			<span class="hora-acao">às 12:20hrs</span>
		</div>
	</div>

	<div class="acao-agenda">
		<div class="foto-descricao">
			<div class="circle-img"></div>
			<div class="tipo-descricao">
				<span class="tipo">Prova de português</span>
				<span class="descricao">Desrespeitou o professor</span>
			</div>
		</div>
		<div class="data-acao">
			<span class="dia-acao">14 de junho</span>
			<span class="hora-acao">às 12:20hrs</span>
		</div>
	</div>

	<div class="acao-agenda">
		<div class="foto-descricao">
			<div class="circle-img"></div>
			<div class="tipo-descricao">
				<span class="tipo">Prova de português</span>
				<span class="descricao">Desrespeitou o professor</span>
			</div>
		</div>
		<div class="data-acao">
			<span class="dia-acao">14 de junho</span>
			<span class="hora-acao">às 12:20hrs</span>
		</div>
	</div>

	<div class="acao-agenda">
		<div class="foto-descricao">
			<div class="circle-img"></div>
			<div class="tipo-descricao">
				<span class="tipo">Prova de português</span>
				<span class="descricao">Desrespeitou o professor</span>
			</div>
		</div>
		<div class="data-acao">
			<span class="dia-acao">14 de junho</span>
			<span class="hora-acao">às 12:20hrs</span>
		</div>
	</div>


</section>

<section class="tab-body body-notas-faltas hide">

	<div class="fill-around">
		<div class="header-minha-escola">
			<div class="row">
				<div class="input-field col s12">
					<select class="select-aluno">
						<!-- <option value="" disabled selected>Choose your option</option> -->
						<option value="1">Ricardo Pacheco</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>


	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>


	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>

	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>

	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>

	<div class="container-blend">
		<div class="blend"></div>
		<span class="materia">Lingua portuguesa</span>
		<span class="faltas">8 faltas</span>
		<span class="notas">Notas</span>
		<div class="container-notas">
			<div class="nota">8,3</div>
			<div class="nota b">7,5</div>
			<div class="nota">9,7</div>
			<div class="nota">3,4</div>
		</div>
	</div>

	<!-- <div class="container-blend">
		<div class="blend"></div>
		Olá
	</div>

	<div class="container-blend">
		<div class="blend"></div>
		Olá
	</div> -->

</section>

<section class="tab-body body-turma hide">
	<div class="fill-around">
		<div class="header-minha-escola">
			<div class="row">
				<div class="input-field col s12">
					<select class="select-aluno">
						<!-- <option value="" disabled selected>Choose your option</option> -->
						<option value="1">Ricardo Pacheco</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<img src="img/qr-code.png" class="img-qr-code">

	<div class="instrucoes-qrcode">Leia o QR Code dos seus colegas e professores para adicioná-los à sua turma.</div>

	<div class="btn-ler-qrcode">
		<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ler qr code</a>
	</div>

	<div class="container-turma-professores-alunos">
		<!-- school -->
		<span class="turmas-titulo-prof-alunos mdi mdi-school mdi-18px">&nbsp;&nbsp;Professores</span>
		<div class="turma-professor-aluno">
			<div class="circle-img"></div>
			<div class="turma-nome-escola">
				<span class="nome">Paulo Peixoto</span>
				<span class="escola">Colégio Paulo Freire</span>
			</div>
		</div>
		<div class="turma-professor-aluno">
			<div class="circle-img"></div>
			<div class="turma-nome-escola">
				<span class="nome">Paulo Peixoto</span>
				<span class="escola">Colégio Paulo Freire</span>
			</div>
		</div>
	</div>

	<div class="container-turma-professores-alunos">
		<span class="turmas-titulo-prof-alunos mdi mdi-account mdi-18px">&nbsp;&nbsp;Alunos</span>
		<div class="turma-professor-aluno">
			<div class="circle-img"></div>
			<div class="turma-nome-escola">
				<span class="nome">Paulo Peixoto</span>
				<span class="escola">Colégio Paulo Freire</span>
			</div>
			<div class="pontos">1600 pts</div>
		</div>
		<div class="turma-professor-aluno">
			<div class="circle-img"></div>
			<div class="turma-nome-escola">
				<span class="nome">Paulo Peixoto</span>
				<span class="escola">Colégio Paulo Freire</span>
			</div>
			<div class="pontos">1600 pts</div>
		</div>
	</div>
</section>


<script type="text/javascript">

	$('#datepicker').datepicker({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    dateFormat: 'dd/mm/yy'
});



	$('#datepicker').click();

	$("#nav").removeClass('hide');

	$('.modal-overlay').remove();

	$(document).ready(function (argument) {
		$('.body-agenda .modal').css({
			'top': '0 !important',
			'position': 'static',
			// 'z-index': 'auto',
			'background-color': 'white',
			'transform': 'translateY(130px)',
			// 'padding-top': '20px'
		});

		$('#datepicker').change(function () {
			console.log($(this).datepicker('getDate'));
		});

		$('.datepicker-day-button').click(function () {
			console.log('oi');
			console.log($('#datepicker').datepicker('toString'));
		});
	});
	

	var selects = document.querySelectorAll('select');
	var instances = M.Select.init(selects);



	$(".tab").click(function () {
		// console.log('clicou tab');
		$(".tab").css('border-bottom', 'none');
		$(this).css('border-bottom', '1px solid yellow');

		var id = $(this).attr('id').replace('tab-', '');
		$('.tab-body').addClass('hide');
		var body = 'body-' + id;
		$('.' + body + '').removeClass('hide');
	});

	function ajustCssSizes() {
		var ww = $(window).width();
		var ew = $('.header-minha-escola').outerWidth();
		console.log('janela ' + ww);
		console.log('elem header' + ew);
		var sob = ww - ew;
		console.log(sob);
		var h = sob / 2;
		console.log(h);
		$('.header-minha-escola').css({
			'margin-left': '-' + h + 'px',
			'margin-right': '-' + h + 'px'
		});
	}

	// ajustCssSizes();

	// $( window ).resize(function() {
	// 	console.log('resize');
	// 	ajustCssSizes();
	// });



	// $("#tab-notas-faltas").click();
</script>