<style type="text/css">
.div-inicio-foto {
	margin-top: 30px;
	text-align: center;
	background-repeat: no-repeat;
}
.div-inicio-foto .div-foto {
	margin: auto;
	width: 100px;
	height: 100px;
}
.div-inicio-foto .nome-pts {
	margin-top: 15px;
	color: #26a69a;
}
.div-inicio-foto .nome-pts #nome {
	font-size: 22px;
	font-weight: bold;
}
.div-inicio-foto .nome-pts .pts {
	font-size: 18px;
}



.perfil-medalhas {
	display: flex;
	align-content: center;
	margin: 35px 0;
	text-align: center;
	overflow-x: scroll;
}
.item-flex {
	flex: 1;
}
.medal {
	font-size: .7em;
	padding: 0 5px;
	color: grey;
}
.medal i {
	display: block;
}



.dados-perfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}
.dados-perfil .img-perfil {
	height: 70px;
	width: 70px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 10px;
}
.btns-acoes {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 0 5%;
}
.btns-acoes .add-a-turma {
	color: black;
	background-color: #EBEBEB;
}
.btns-acoes a {
	margin: 5px 0;
}
.medals {
	display: flex;
	padding: 5px;
	margin: 30px 0;
}
.medals div {
	padding: 0 5px;
	text-align: center;
	color: grey;
	line-height: 0.5;
	display: flex;
	flex-direction: column;
	font-size: 7pt;
}
.post-perfil {
	position: relative;
	padding: 15px 0;
	margin-bottom: 10px;
}
.post-perfil .data {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: grey;
}
.post-perfil .post-detalhes {
	display: flex;
	margin-bottom: 8px;
}
.post-perfil .post-detalhes .img-perfil {
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-right: 10px;
	/* display: inline-block; */
}
.post-perfil .post-detalhes .publicacao-detalhes {
	width: calc(100% - 40px);
}
.post-perfil .post-detalhes span {
	display: block;
}
.post-perfil .post-detalhes .nome {
	font-weight: 500;
}
.post-perfil .post-detalhes .txt {
	color: grey;
	font-size: 12px;
	margin-bottom: 6px;
}
#modal-adicionar .modal-content, #modal-remover .modal-content, #modal-e-professor .modal-content {
	text-align: center;
	padding-bottom: 0;
}
#modal-adicionar .modal-footer, #modal-remover .modal-footer, #modal-e-professor .modal-footer {
	text-align: center;
}
.modal-footer {
	text-align: center !important;
}
#modal-loading {
	text-align: center;
}
i.mdi {
	margin-right: 15px;
}
#modal-add-medalha .modal-content{
	padding: 0 10px;
}
.nenhuma-pub {
	font-weight: 500;
	color: gray;
	margin-left: 10px;
	text-align: center;
}
.dropdown-content {
	max-height: 200px;
}
#modal-add-medalha .dropdown-content {
	max-height: 130px;
}
.btn-mostrar-mais {
	width: 100%;
	margin-bottom: 10px;
}
.div-comentarios {
    height: auto;
}
.div-comentar {
    display: flex;
    align-items: center;
}
.div-comentarios .comentario {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
}
.div-comentarios .comentario .nome-user {
    display: block;
    font-weight: 600;
    color: #26a69a;
}
.div-comentar textarea {
    height: 2rem;
}
.div-comentarios .circle-img, .div-comentar .circle-img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
    margin-right: 10px;
}
.container-comentarios {
    display: block;
    border-left: 1px solid rgba(226, 226, 226);
}
.midia-publicacao {
    margin-bottom: 10px;
}
.comentario-txt-nome {
    /* border-bottom: 1px solid rgb(230,230,230);
    padding-bottom: 4px; */
}
</style>

<div class="div-inicio-foto">
	<div class="circle-img div-foto" {{if foto_perfil != null}}
	style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil}}')"
	{{/if}}></div>
	<div class="nome-pts">
		<span id="nome">{{:nome}}</span>
		<br>
		<span class="pts">{{if pontos == null}}0{{else}}{{:pontos}}{{/if}} pontos</span>
	</div>
</div>

<div class="btns-acoes">
	<a id="btn-desafiar" href="#pergunta_1?{{:id}}" data-usuario-id="{{:id}}" class="waves-effect waves-light btn"><i class="mdi mdi-sword-cross"></i>Desafiar para batalha</a>

	<a id="btn-adionar" data-usuario-id="{{:id}}" class="waves-effect waves-light btn add-a-turma {{if colega == 'true'}}hide{{/if}}"><i class="material-icons left">person_add</i>Adicionar á minha turma</a>

	<a id="btn-adionado" data-usuario-id="{{:id}}" class="waves-effect waves-light btn add-a-turma {{if colega == 'false'}}hide{{/if}}"><i class="material-icons left">check</i>Adicionado</a>
</div>

<div class="perfil-medalhas">
	{{for medalhas}}
	<div class="item-flex medal"><img
		{{if qtd >= 500}}
		src="img/ouromedal.png"
		{{else}}
		{{if qtd >= 50}}
		src="img/pratamedal.png"
		{{else}}
		{{if qtd >= 10}}
		src="img/bronzemedal.png"
		{{else}}
		src="img/nomedal.png"
		{{/if}}
		{{/if}}
		{{/if}}
		></i>{{:nome}}</div>
		{{/for}}
	</div>


	{{if publicacoes.length == 0}}
	<div class="nenhuma-pub">
		Nenhuma publicação a ser exibida.
	</div>
	{{/if}}
	<div id="container-publicacoes-perfil">
		{{for publicacoes}}
		<div class="post-perfil">
			<span class="data">{{formataData:data}}</span>
			<div class="post-detalhes">
				<div class="img-perfil circle-img"
                     {{if fotoPerfil != null}}
                     style="background-image: url('{{getUrlFotoPerfil:fotoPerfil}}')"
                     {{/if}}
				></div>
				<div class="publicacao-detalhes">
					<span class="nome">{{:nome_usuario}}</span>
					<span class="txt">{{:txt}}</span>

				</div>
			</div>
			<div class="midia-publicacao">
				{{if nome_midia != null}}
				{{if ~testMidiaIsImage(tipo_midia)}}
					<img src="{{*:host}}app/showMidiaPublicacao?nome={{:nome_midia}}" id="img-pub" class="responsive-img">
				{{else}}
					<video class="responsive-video" controls><source src="{{*:host}}app/showMidiaPublicacao?nome={{:nome_midia}}" id="src-video" type="{{:tipo_midia}}"></video>
				{{/if}}
				{{/if}}
			</div>
			<div class="container-comentarios">
                <div id="div-comentarios-{{:t}}{{:id_conteudo}}" class="div-comentarios">
                    {{for comentarios}}
                    <div class="comentario">
                        <div class="circle-img" {{if fotoPerfil != null}}
                             style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:fotoPerfil}}')"
                             {{/if}}></div>
                        <div class="comentario-txt-nome">
                            <span class="nome-user">{{:nome}}</span>
                            <span>{{:texto}}</span>
                        </div>
                    </div>
                    {{/for}}
                </div>
                <div class="div-comentar">

                    <div class="circle-img"  {{*:convertFotoPerfilBackgroundImgFT(user.fotoPerfil)}}></div>
                    <textarea id="comentar-{{:t}}-{{:id_conteudo}}" class="materialize-textarea input-comentar" placeholder="Comentar..."></textarea>
                    <i id="" data-id-conteudo="{{:id_conteudo}}" data-tipo-conteudo="{{:t}}" class="btn-comentar mdi mdi-comment-text-outline mdi-24px" style="color: gray;"></i>
                </div>
            </div>
			<div class="divider"></div>
		</div>
		{{/for}}
	</div>

	{{if publicacoes.length >= 5}}
	<div id="container-btn-mais">
		<a id="btn-mostrar-mais" class="waves-effect waves-light btn btn-mostrar-mais"><i class="material-icons left">add</i>mostrar mais</a>
		<div class="container-loading mostrar-mais-loading hide">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}



	<!-- Modal Structure -->
	<div id="modal-adicionar" class="modal">
		<div class="modal-content">
			<p>Deseja adicionar {{:nome}} à sua turma?</p>
		</div>
		<div class="modal-footer">
			<a class="modal-close waves-effect waves-green btn-flat">Não</a>
			<a id="btn-adionar-sim" data-usuario-id="{{:id}}" class="modal-close waves-effect waves-green btn-flat">Sim</a>
		</div>
	</div>

	<div id="modal-e-professor" class="modal">
		<div class="modal-content">
			<p>{{:nome}} é seu(sua) professor(a)?</p>
		</div>
		<div class="modal-footer">
			<a data-prof="0" data-usuario-id="{{:id}}" class="modal-close waves-effect waves-green btn-flat is-professor">Não</a>
			<a data-prof="1" data-usuario-id="{{:id}}" class="modal-close waves-effect waves-green btn-flat is-professor">Sim</a>
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modal-remover" class="modal">
		<div class="modal-content">
			<p>Deseja remover {{:nome}} da sua turma?</p>
		</div>
		<div class="modal-footer">
			<a class="modal-close waves-effect waves-green btn-flat">Não</a>
			<a id="btn-remover-sim" data-usuario-id="{{:id}}" class="modal-close waves-effect waves-green btn-flat">Sim</a>
		</div>
	</div>

	<div id="modal-loading" class="modal">
		<div class="modal-content">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Inicio notificacao ################################## -->

	<div id="modal-add-message" class="modal">
		<div class="modal-content center">
			<p>Nova notificação</p>
			<div class="input-field">
				<input id="titulo_notificacao" type="text" class="validate">
				<label for="titulo_notificacao">Título</label>
			</div>
			<div class="input-field">
				<select id="select-disciplina">
					<option value="0">Disciplina</option>
				</select>
			</div>
			<div class="input-field">
				<textarea id="descricao_notificacao" class="materialize-textarea"></textarea>
				<label for="descricao_notificacao">Descrição</label>
			</div>
		</div>
		<div class="modal-footer center">
			<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
			<a id="btn-enviar-notificacao" data-usuario-id="{{:id}}" class="waves-effect waves-green btn-flat">Enviar</a>
		</div>
	</div>

	<!-- Fim notificacao ########################################## -->

	<div id="modal-add-medalha" class="modal">
		<div class="modal-content center">
			<p>Dar medalha</p>
			<div class="row">
				<div class="input-field col s12">
					<select id="select-medalha">
						{{for medalhas}}
						<option value="{{:id}}">{{:nome}}</option>
						{{/for}}
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-close waves-effect waves-green btn-flat">Sair</a>
			<a id="confirmar-add-medalha" data-usuario-id="{{:id}}" class="modal-close waves-effect waves-green btn-flat">Confirmar</a>
		</div>
	</div>

	{{if aluno == 1}}
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</a>
		<ul>
			<li><a id="btn-add-medalha" href="#modal-add-medalha" class="btn-floating blue modal-trigger"><i class="mdi mdi-trophy-award"></i></a></li>
			<li><a id="btn-add-message" href="#modal-add-message" class="btn-floating green darken-1 modal-trigger"><i class="material-icons">message</i></a></li>
		</ul>
	</div>
	{{/if}}


	<script type="text/javascript">
		$("#nav").removeClass('hide');

		M.updateTextFields();

			// Mostrar mais inicio ##########################################
			var qtd_por_vez = 5;
			var contador_pages = 1;
			var container_publicacoes = $("#container-publicacoes-perfil");

			function showLoadingMostrarMais () {
				$("#btn-mostrar-mais").hide();
				$(".container-loading.mostrar-mais-loading").removeClass("hide");
			}
			function hideLoadingMostrarMais () {
				$(".container-loading.mostrar-mais-loading").addClass("hide");
				$("#btn-mostrar-mais").show();
			}

			$("#btn-mostrar-mais").click(function(event) {
				showLoadingMostrarMais();
				$.ajax({
					url: host + 'app/getPublicacoesParaPerfil',
					data: {id: {{:id}}, limit: qtd_por_vez, offset: (qtd_por_vez * contador_pages)},
				})
				.done(function(d) {
					var data = convertToJSON(d);
					console.log("success mostrar mais:", data);
					var tmpl = $.templates("#publicacao-perfil");
					var html = tmpl.render(data);
					container_publicacoes.append(html);
					if (data.length < qtd_por_vez) {
						$("#container-btn-mais").hide();
					}
					hideLoadingMostrarMais();

					contador_pages++;
				})
				.fail(function(d) {
					console.log("error", d);
				});

			});

// Mostrar mais fim ######################################



var selects = document.querySelectorAll('select');
var instances = M.Select.init(selects);

$('.fixed-action-btn').floatingActionButton({hoverEnabled: false});

var prof = {{:professor}};

var elem = document.getElementById('modal-adicionar');
var modalAdicionar = M.Modal.init(elem);

var elem = document.getElementById('modal-remover');
var modalRemover = M.Modal.init(elem);

var elem = document.getElementById('modal-loading');
var modalLoading = M.Modal.init(elem, {dismissible: false});

var elem = document.getElementById('modal-e-professor');
var modalProf = M.Modal.init(elem);

var elem = document.getElementById('modal-add-message');
var modalMessage = M.Modal.init(elem);

var elem = document.getElementById('modal-add-medalha');
var modalMedalha = M.Modal.init(elem);

var user = getUserData();

function confirmarAdicionar (idColega, isProfessor) {
	modalLoading.open();
	var data = {
		"id_usuario": user.id,
				"id_colega": idColega,//$(this).attr('data-usuario-id'),
				"professor": isProfessor,
				"responsavel": 0
			}

			$.ajax({
				url: host + 'usuario/addColega',
				type: 'POST',
				dataType: 'json',
				data: JSON.stringify(data),
			})
			.done(function(d) {
				console.log("success");
				console.log(d);
				$("#btn-adionar").addClass('hide');
				$("#btn-adionado").removeClass('hide');
			})
			.fail(function(d) {
				console.log("error");
				console.log(d);
				M.toast({html: 'Erro', displayLength: 1500});
			})
			.always(function() {
				console.log("complete");
				modalLoading.close();
			});
		}

		// M.toast({html: 'I am a toast!', displayLength: 1500});

		$("#btn-adionar-sim").click(function(event) {
			if (prof) {
				modalProf.open();
			} else {
				confirmarAdicionar($(this).attr('data-usuario-id'), 0);
			}
		});

		$(".is-professor").click(function(event) {
			var is_p = $(this).attr('data-prof');
			if (is_p == '1')
				confirmarAdicionar($(this).attr('data-usuario-id'), 1);
			else
				confirmarAdicionar($(this).attr('data-usuario-id'), 0);
		});

		$("#btn-adionar").click(function(event) {
			modalAdicionar.open();
		});

		$("#btn-adionado").click(function(event) {
			modalRemover.open();
		});


		$("#btn-remover-sim").click(function(event) {
			modalLoading.open();
			var data = {
				"id_usuario": user.id,
				"id_colega": $(this).attr('data-usuario-id')
			}

			$.ajax({
				url: host + 'usuario/removerColega',
				type: 'POST',
				dataType: 'json',
				data: JSON.stringify(data),
			})
			.done(function(d) {
				console.log("success");
				console.log(d);
				$("#btn-adionado").addClass('hide');
				$("#btn-adionar").removeClass('hide');
			})
			.fail(function(d) {
				console.log("error");
				console.log(d);
				M.toast({html: 'Erro', displayLength: 1500});
			})
			.always(function() {
				console.log("complete");
				modalLoading.close();
			});
		});


		$("#btn-desafiar").click(function(event) {
			/* Act on the event */
		});

// Add medalha inicio ######################################

$("#confirmar-add-medalha").click(function(event) {
	var id_u = $(this).attr('data-usuario-id');
	var id_m = $("#select-medalha").val();
	console.log(id_u, id_m);
	$.ajax({
		url: host + 'medalha/addMedalha',
		data: {id_usuario: id_u, id_medalha: id_m, qtd: 1},
	})
	.done(function(d) {
		console.log("success");
		var data = convertToJSON(d);
		if (data.response == "true")
			M.toast({html: 'Medalha enviada com sucesso', displayLength: 1500});
		else
			M.toast({html: 'Erro ao enviar medalha', displayLength: 1500});
	})
	.fail(function(d) {
		console.log("error");
		M.toast({html: 'Erro', displayLength: 1500});
	})
	.always(function() {
		console.log("complete");
		setTimeout(function (argument) {
			$(document).trigger('hashchange');
		},1000);
	});

});

// Add medalha fim #########################################


// Inicio notificacao #######################################

$.get(host + 'escola/getDisciplinas', function (data) {
	data = convertToJSON(data);
	$.each(data, function(index, el) {
		$("#select-disciplina").append(new Option(el.nome, el.id));
	});
	var selects = document.querySelectorAll('select');
	var instances = M.Select.init(selects);
});

$("#btn-enviar-notificacao").click(function (argument) {
	var id_u = $(this).attr('data-usuario-id');
	var titulo = $("#titulo_notificacao").val();
	var descricao = $("#descricao_notificacao").val();
	var disciplina = $("#select-disciplina").val();

	if (!titulo || !descricao || !id_u) {
		M.toast({html: 'Preencha título e descrição', displayLength: 2000});
		return;
	}

	console.log('dados:', id_u, titulo, descricao, disciplina);

	var data = {
		'id_aluno': id_u, 'id_professor': user.id, 'titulo': titulo, 'descricao': descricao, 'disciplina': disciplina
	};

	$.ajax({
		url: host + 'notificacao/addNotificacao',
		type: 'POST',
		dataType: 'json',
		data: JSON.stringify(data),
	})
	.done(function(d) {
		console.log("success");
		var dataJ = convertToJSON(d);
		console.log('resposta:', dataJ);
		if (dataJ.response == "true") {
			modalMessage.close();
			$("#titulo_notificacao").val('');
			$("#descricao_notificacao").val('');
			M.toast({html: 'Notificação enviada com sucesso', displayLength: 2000});
		} else {

		}
	})
	.fail(function(d) {
		console.log("error");
		M.toast({html: 'Erro', displayLength: 2000});
	})
	.always(function() {
		console.log("complete");
	});


});

// Fim notificacao #########################################


 // Comentario inicio ###############################################

    $("#container-publicacoes-perfil").on("click", ".btn-comentar", function(event) {
        var id_conteudo = $(this).attr('data-id-conteudo');
        var tipo_conteudo = $(this).attr('data-tipo-conteudo');
        var texto = $("#comentar-" + tipo_conteudo + "-" + id_conteudo).val();
        if (!texto) {
            M.toast({html: 'Digite algo', displayLength: 1000});
            return;
        }
        console.log(id_conteudo, tipo_conteudo, texto);

        $.ajax({
            url: host + 'comentario/addComentario',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                "tipo_conteudo": tipo_conteudo,
                "id_conteudo": id_conteudo,
                "texto": texto,
                "id_usuario": user.id
            }),
        })
        .done(function(d) {
            console.log("success:", d);
            $(".input-comentar").val('');
            var tmpl = $.templates("#template-comentario");
            var html = tmpl.render({"foto_perfil": user.foto_perfil, "nome": user.nome, "texto": texto});
            $("#div-comentarios-" + tipo_conteudo + id_conteudo).append(html);
        })
        .fail(function(d) {
            console.log("error:", d);
        });

    });


    // Comentario fim ##################################################

</script>