<style type="text/css">
.div-inicio-foto {
	margin-top: 30px; 
	text-align: center;
	background-repeat: no-repeat;
}
.div-inicio-foto .div-foto {
	margin: auto;
	width: 100px;
	height: 100px;
}
.div-inicio-foto .nome-pts {
	margin-top: 15px; 
	color: #26a69a;
}
.div-inicio-foto .nome-pts #nome {
	font-size: 22px; 
	font-weight: bold;
}
.div-inicio-foto .nome-pts .pts {
	font-size: 18px;
}



.perfil-medalhas {
	display: flex; 
	align-content: center; 
	margin: 35px 0;
	text-align: center;
	overflow-x: scroll;
}
.item-flex {
	flex: 1;
}
.medal {
	font-size: .7em;
	padding: 0 5px;
	color: grey;
}
.medal i {
	display: block;
}



.dados-perfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}
.dados-perfil .img-perfil {
	height: 70px;
	width: 70px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 10px;
}
.btns-acoes {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 0 5%;
}
.btns-acoes .add-a-turma {
	color: black;
	background-color: #EBEBEB;
}
.btns-acoes a {
	margin: 5px 0;
}
.medals {
	display: flex;
	padding: 5px;
	margin: 30px 0;
}
.medals div {
	padding: 0 5px;
	text-align: center;
	color: grey;
	line-height: 0.5;
	display: flex;
	flex-direction: column;
	font-size: 7pt;
}
.post-perfil {
	position: relative;
	padding: 15px 0;
	margin-bottom: 15px;
}
.post-perfil .data {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: grey;
}
.post-perfil .post-detalhes {
	display: flex;
	margin-bottom: 8px;
}
.post-perfil .post-detalhes .img-perfil {
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-right: 10px;
	/* display: inline-block; */
}
.post-perfil .post-detalhes .publicacao-detalhes {
	width: calc(100% - 70px);
	/* display: inline-block; */
}
.post-perfil .post-detalhes span {
	display: block;
}
.post-perfil .post-detalhes .nome {
	font-weight: 500;
}
.post-perfil .post-detalhes .txt {
	color: grey;
	font-size: 12px;
}
</style>

<div class="div-inicio-foto">
	<div class="circle-img div-foto"></div>
	<div class="nome-pts">
		<span id="nome">Fernanda Vargas</span>
		<br>
		<span class="pts">1600 pontos</span>
	</div>
</div>

<!-- <div class="dados-perfil">
	<div class="img-perfil"></div>
	<div class="nome-pts">
		<span class="nome">Fernanda Vargas</span>
		<span class="pts">1600 pts</span>
	</div>
</div> -->

<div class="btns-acoes">
	<a href="#pergunta" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Desafiar para batalha</a>
	<a class="waves-effect waves-light btn add-a-turma"><i class="material-icons left">cloud</i>Adicionar á minha turma</a>
</div>

<div class="perfil-medalhas">
	<div class="item-flex medal"><i class="material-icons">flight_land</i>Participação</div>
	<div class="item-flex medal"><i class="material-icons">perm_media</i>Coleguismo</div>
	<div class="item-flex medal"><i class="material-icons">important_devices</i>Assiduidade</div>
	<div class="item-flex medal"><i class="material-icons">perm_media</i>Creativivdade</div>
</div>

<!-- <div class="medals">
	<div><i class="material-icons left">cloud</i>Participação</div>
	<div><i class="material-icons left">cloud</i>Coleguismo</div>
	<div><i class="material-icons left">cloud</i>Pontualidade</div>
	<div><i class="material-icons left">cloud</i>Criatividade</div>
	<div><i class="material-icons left">cloud</i>Outro</div>
</div> -->

<div class="post-perfil">
	<span class="data">4:09 PM</span>
	<div class="post-detalhes">
		<div class="img-perfil circle-img"></div>
		<div class="publicacao-detalhes">
			<span class="nome">Fernanda Vargas</span>
			<span class="txt">Ganhou uma estrelinha de participação</span>
			<img id="img-pub" class="responsive-img">
			<video class="responsive-video" controls><source id="src-video" type="video/mp4"></video>
			</div>
		</div>
		<div class="divider"></div>
	</div>

	<!-- Inicio -->
	<div class="post-perfil">
		<span class="data">4:09 PM</span>
		<div class="post-detalhes">
			<div class="img-perfil circle-img"></div>
			<div class="publicacao-detalhes">
				<span class="nome">Fernanda Vargas</span>
				<span class="txt">Ganhou uma estrelinha de participação</span>
			</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="post-perfil">
		<span class="data">4:09 PM</span>
		<div class="post-detalhes">
			<div class="img-perfil circle-img"></div>
			<div class="publicacao-detalhes">
				<span class="nome">Fernanda Vargas</span>
				<span class="txt">Ganhou uma estrelinha de participação</span>
			</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="post-perfil">
		<span class="data">4:09 PM</span>
		<div class="post-detalhes">
			<div class="img-perfil circle-img"></div>
			<div class="publicacao-detalhes">
				<span class="nome">Fernanda Vargas</span>
				<span class="txt">Ganhou uma estrelinha de participação</span>
			</div>
		</div>
		<div class="divider"></div>
	</div>

	<!-- Fim -->


	<script type="text/javascript">
		$("#nav").removeClass('hide');

		$("#img-pub").attr('src', host + 'app/showMidiaPublicacao?nome=24933123118_63c34363b4_z.jpg5b0f339b10c86.jpg');
		$("#src-video").attr('src', host + 'app/showMidiaPublicacao?nome=12337862_492631484249505_994449330_n.mp45b0f38b277d9f.mp4');
	</script>