<style type="text/css">
.header-pergunta {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-right: -100%;
}
.header-pergunta .player1 {
	float: left;
}
.header-pergunta .player2 {
	float: right;
}
.header-pergunta .clear {
	clear: both;
}
.fill-around {
	display: flex;
}
.header-pergunta {
	padding: 20px 0;
}
.header-pergunta .num-questao {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 10pt;
}

.img-user-pergunta {
	height: 40px;
	width: 40px !important;
	border: 1px solid black;
	border-radius: 50%;
}
.users-pts .img-user-pergunta, .pts {
	display: inline-block;
	margin: 10px 5px;
}
.users-pts .player1, .player2 {
	display: flex;
	align-items: center;
	width: 49%;
    display: flex;
    justify-content: space-between;
}
.header-pergunta .pts {
	font-size: 25pt;
	font-weight: 700;
	color: white;
}
.btn-pergunta {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
.options-pergunta .option {
	margin-bottom: 30px;
	color: grey !important;
}
.options-pergunta .option span {
	color: grey !important;
}
.corpo-pergunta .pergunta {
	color: grey;
}
.header-pergunta {
	background-color: #76AB9F !important;
	background: url(img/x4.png) no-repeat center;
	background-size: 180px;
}
.nome {
	font-size: 17px;
	text-align: center;
}
.header-pergunta .users-pts {
	display: flex;
	justify-content: space-between;
}
.player1, .player2 {
	padding: 0 3px;
}
.nome {
	color: white;
}
</style>

<div class="fill-around">
	<div class="header-pergunta">
		<div class="users-pts">
			<div class="player1">
				<div class="img-user-pergunta circle-img"></div>
				<div class="pts">1</div>
				<span class="nome">opo1</span>
			</div>
			<div class="player2">
				<span class="nome">opo2</span>
				<div class="pts">0</div>
				<div class="img-user-pergunta circle-img"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="num-questao">Questão 1/3</div>
	</div>
</div>

<div class="corpo-pergunta">
	<p class="pergunta">
		Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! In elementis mé pra quem é amistosis quis leo. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
	</p>
	<div class="options-pergunta">
		<div class="option">
			<label>
				<input class="with-gap" name="group1" type="radio"  />
				<span>When a user clicks on a radio-button, it becomes checked, and all other radio-buttons with equal name become unchecked.</span>
			</label>
		</div>
		<div class="option">
			<label>
				<input class="with-gap" name="group1" type="radio"  />
				<span>When a user clicks on a radio-button, it becomes checked, and all other radio-buttons with equal name become unchecked.</span>
			</label>
		</div>
		<div class="option">
			<label>
				<input class="with-gap" name="group1" type="radio"  />
				<span>When a user clicks on a radio-button, it becomes checked, and all other radio-buttons with equal name become unchecked.</span>
			</label>
		</div>
	</div>
</div>

<div>
	<a href="#fim-batalha" class="waves-effect waves-light btn btn-pergunta"><i class="material-icons left">touch_app</i>Confirmar</a>
</div>

<script type="text/javascript">
	$("#nav").addClass('hide');
</script>