<style type="text/css">
.header-pergunta {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-right: -100%;
}
.header-pergunta .player1 {
	float: left;
}
.header-pergunta .player2 {
	float: right;
}
.header-pergunta .clear {
	clear: both;
}
.fill-around {
	display: flex;
}
.header-pergunta {
	padding: 20px 0;
}
.header-pergunta .num-questao {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 10pt;
}

.img-user-pergunta {
	height: 40px;
	width: 40px !important;
	/* border: 1px solid black;
	border-radius: 50%; */
}
.users-pts .img-user-pergunta, .pts {
	display: inline-block;
	margin: 10px;
}
.users-pts .player1, .player2 {
	display: flex;
	align-items: center;
}
.header-pergunta .pts {
	font-size: 25pt;
	font-weight: 700;
	color: white;
}
.btn-pergunta {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
}
.options-pergunta .option {
	margin-bottom: 20px;
	color: grey !important;
}
.options-pergunta .option span {
	color: grey !important;
}
.corpo-pergunta .pergunta {
	color: grey;
}
.header-pergunta {
	background-color: #76AB9F !important;
	background: url(img/x4.png) no-repeat center;
	background-size: 180px;
}
body {
	padding-bottom: 50px;
}
.div-btn-continuar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nome {
	font-size: 17px;
	text-align: center;
}
.header-pergunta .users-pts {
	display: flex;
	justify-content: space-between;
}
.player1, .player2 {
	padding: 0 5px;
}
.nome {
	color: white;
	line-height: 1;
}
</style>

<div class="fill-around">
	<div class="header-pergunta">
		<div class="users-pts">
			<div class="player1">
				<div class="circle-img img-user-pergunta"
				{{if desafiante.foto_perfil != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:desafiante.foto_perfil}}')"
				{{/if}}
				></div>
				<div class="pts">0</div>
				<span class="nome">{{firstName:desafiante.nome}}</span>
			</div>
			<div class="player2">
				<span class="nome">{{firstName:desafiado.nome}}</span>
				<div class="pts">0</div>
				<div class="circle-img img-user-pergunta"
				{{if desafiado.foto_perfil != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:desafiado.foto_perfil}}')"
				{{/if}}
				></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="num-questao">Questão&nbsp;<span id="qtn_atual"> 1</span>/3</div>
	</div>
</div>

{{* window.num_per = 0;}}

{{for perguntas}}
<div class="corpo-pergunta" id="corpo-pergunta-{{*: num_per}}">
	<p class="pergunta">
		{{:enunciado}}
	</p>
	<div class="options-pergunta">
		{{if tipo == 1}}


		{{* window.num_alt = 1;}}
		{{for alternativas}}
		<div class="option">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="{{*: num_alt}}"  />
				<span>{{:descricao}}</span>
			</label>
		</div>
		{{* num_alt++;}}
		{{/for}}

		{{else}}

		<div class="option">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="1"  />
				<span>Verdadeiro</span>
			</label>
		</div>
		<div class="option">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="2"  />
				<span>Falso</span>
			</label>
		</div>

		{{/if}}
	</div>
</div>
{{* num_per++;}}
{{/for}}

<div class="div-btn-continuar">
	<a id="continuar" class="waves-effect waves-light btn btn-pergunta"><i class="material-icons left">touch_app</i>Confirmar</a>
	<!-- <a href="#batalhas_1" class="waves-effect waves-light btn btn-pergunta2">Sair</a> -->
</div>

<script type="text/javascript">
	$("#nav").addClass('hide');

	var p = 0;

	var perguntas = {{tostr:perguntas}};
	var respostas = [];
	var id_desafiante = {{:desafiante.id}};
	var id_desafiado = {{:desafiado.id}};
	var pts = 0;

	console.log('m dados');
	console.log(perguntas);

	var containers = $(".corpo-pergunta");

	containers.css({
		display: 'none'
	});

	containers.first().css({
		display: 'block'
	});

	$("#continuar").click(function(event) {
		var val = $("input[name=resposta" + p + "]:checked").val();
		console.log(val);
		if (val == undefined) {
			M.toast({html: 'selecione uma opção', displayLength: 1000});
			return;
		}

		respostas.push({id_pergunta: perguntas[p].id, resposta: val});

		console.log("respostas");
		console.log(respostas);
		if (p < 2)
			$("#qtn_atual").html(p + 2);

		if (perguntas[p].resposta == val) {
			pts++;
			$(".player1 .pts").html(pts);
		}

		if (p < 2) {
			p++;
			containers.css({
				display: 'none'
			});
			$("#corpo-pergunta-" + p).css({
				display: 'block'
			});
		} else {
			// location.hash = '#fim-batalha';
			criarBatalha();
		}
	});


	function criarBatalha() {
		var data = {
			id_desafiante: id_desafiante,
			id_desafiado: id_desafiado,
			respostas: respostas
		}
		console.log(data);


		$.ajax({
			url: host + 'batalha/criarBatalha',
			type: 'POST',
			dataType: 'json',
			data: JSON.stringify(data),
		})
		.done(function(d) {
			console.log("success");
			var data = convertToJSON(d);
			console.log(d);
			if (data.response == 'true') {
				location.hash = '#fim-batalha_1?' + data.id + '&' + pts;
			}
		})
		.fail(function(d) {
			console.log("error");
			console.log(d);
			M.toast({html: 'Erro', displayLength: 1500});
		})
		.always(function() {
			console.log("complete");
		});

	}
</script>