<style type="text/css">

.container-procurando {
	/* background-color: yellow; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.div-de-dentro {
	background-color: blue;
	width: 100px;
	height: 80px;
}
.container-procurando .grey-txt {
	text-align: center;
	color: grey;
}
.container-procurando .container-loading-procurando {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 0;
}
.container-procurando .container-loading-procurando .circle-img {
	width: 100px;
	height: 100px;
}
.container-procurando .container-loading-procurando .img-1 {
	transform: translateX(-50%);
}
.container-procurando .container-loading-procurando .img-2 {
	transform: translateX(50%);
}
</style>

<div id="container-procurando" class="container-procurando">
	<!-- <div class="div-de-dentro"></div> -->
	<div class="grey-txt">Por favor, agurde um instante. A batalha já vai começar. Estamos buscando um oponente para sua batalha.</div>
	<div class="container-loading-procurando">
		<div class="circle-img img-1"></div>
		<div id="icon-loading-procurando">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="circle-img img-2"></div>
	</div>
	<!-- <a href="#pergunta">continuar</a> -->
</div>

<script type="text/javascript">
	$('#container-procurando').css({
		// width: window.innerWidth,
		// height: window.innerHeight
	});

	$.ajax({
        url: host + 'batalha/procurarOponente',
        type: 'GET',
        data: {id_desafiante: getUserData().id},
    })
    .done(function(d) {
        var data = convertToJSON(d);
        console.log('em json:', data);
        setTimeout(function () {
        	location.hash = '#pergunta_1?' + data.data.desafiado.id
        },1000);
    })
    .fail(function(d) {
        console.log(d);
        alert("error");
    })
    .always(function() {
        console.log("complete");
    });


	$("#nav").addClass('hide');
</script>