<style type="text/css">
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}
.fill-around{
	position: relative;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	right: 0;
	margin-right: -100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.background-header {
	background-color: #76AB9F;
	/* margin-left: -5%;
	margin-right: -5%;
	padding-left: 5%;
	padding-right: 5%; */
	padding-top: 30px;
}
/* @media only screen and (min-width: 601px) {
	.background-header {
		margin-left: -8%;
		margin-right: -8%;
		padding-left: 8%;
		padding-right: 8%;
	}
} */
.info-player {
	background-color: white;
	padding: 0 10px 30px 10px;
	border-radius: 9px;
	width: 85%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translateY(20px);
	z-index: 10;
	box-shadow: 0px 2px 25px 0px;
	line-height: 1.2;
	color: grey;
	margin-bottom: 30px;
	text-align: center;
}
.info-player span {
	padding: 8px 0;
}
.info-player .green-txt {
	font-weight: bold;
	color: #549788;
}



.batalhar-novamente {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.batalhar-novamente i {
	margin-right: 10px;
	vertical-align: middle;
}
.info-player .pts {
	font-weight: bold;
	font-size: 2.5em;
}
.info-player .mdi {
	font-size: 56px;
}
.info-player .pos-ranking {
	font-size: 11px;
}
</style>

<div class="fill-around">
	<div class="background-header">
		<div class="info-player">
			<i class="mdi mdi-trophy-award"></i>
			<span class="pts-acumulados">Pontos acumulados:</span>
			<span class="pts green-txt">120</span>
			<span class="resultado">Parabéns, você acertou a questão</span>
			<span class="pos-ranking">Posição no ranking: 1.243.874°</span>
		</div>
	</div>
</div>

<div class="batalhar-novamente">
	<a href="#material-de-estudo_1" class="waves-effect waves-light btn"><i class="material-icons">navigate_next</i>Próxima questão</a>
</div>



<script type="text/javascript">
	$("#nav").removeClass('hide');
</script>