<style type="text/css">
.header-pergunta {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.fill-around:before {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-left: -100%;
}
.fill-around:after {
	content: '';
	width: 100%;
	background-color: #76AB9F !important;
	margin-right: -100%;
}
.header-pergunta .player1 {
	float: left;
}
.header-pergunta .player2 {
	float: right;
}
.header-pergunta .clear {
	clear: both;
}
.fill-around {
	display: flex;
}
.header-pergunta {
	padding: 20px 0;
}
.header-pergunta .num-questao {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 10pt;
}

.img-user-pergunta {
	height: 40px;
	width: 40px !important;
	/* border: 1px solid black;
	border-radius: 50%; */
}
.users-pts .img-user-pergunta, .pts {
	display: inline-block;
	margin: 10px;
}
.users-pts .player1, .player2 {
	display: flex;
	align-items: center;
}
.header-pergunta .pts {
	font-size: 25pt;
	font-weight: 700;
	color: white;
}
.btn-pergunta {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
}
.options-pergunta .option {
	margin-bottom: 20px;
	color: grey !important;
}
.options-pergunta .option span {
	color: grey !important;
}
.corpo-pergunta .pergunta {
	color: grey;
}
.header-pergunta {
	background-color: #76AB9F !important;
	background: url(img/x4.png) no-repeat center;
	background-size: 180px;
}
body {
	padding-bottom: 50px;
}
.div-btn-continuar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nome {
	font-size: 17px;
	text-align: center;
}
.header-pergunta .users-pts {
	display: flex;
	justify-content: space-between;
}
.player1, .player2 {
	padding: 0 5px;
}
.nome {
	color: white;
	line-height: 1;
}
.marcada-certa {
	background-color: #a6f9bb;
    border-radius: 5px;
}
.marcada {
	background-color: #f1beba;
    border-radius: 5px;
}
</style>

<div class="fill-around">
	<div class="header-pergunta">
		<div class="users-pts">
			<div class="player1">
				<div class="circle-img img-user-pergunta"
				{{if foto_perfil_opo1 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
				{{/if}}
				></div>
				<div class="pts">{{:qtd_certas_opo1}}</div>
				<span class="nome">{{firstName:nome_oponente_1}}</span>
			</div>
			<div class="player2">
				<span class="nome">{{firstName:nome_oponente_2}}</span>
				<div class="pts">{{:qtd_certas_opo2}}</div>
				<div class="circle-img img-user-pergunta"
				{{if foto_perfil_opo2 != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
				{{/if}}
				></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="num-questao">Questão&nbsp;<span id="qtn_atual"> 1</span>/{{:#data.perguntas.length}}</div>
	</div>
</div>

{{* window.num_per = 0;}}

{{if ~isOponente1(id_oponente_1)}}

{{for perguntas}}
<div class="corpo-pergunta" id="corpo-pergunta-{{*: num_per}}">
	<p class="pergunta">
		{{:pergunta.enunciado}}
	</p>
	<div class="options-pergunta">
		

		{{if pergunta.tipo == 1}}

		{{* window.num_alt = 1;}}
		{{for pergunta.alternativas ~resp=pergunta.resposta ~ru=resposta_oponente_1}}
		<div class="option {{if #getIndex()+1 == ~ru}}marcada{{/if}}{{if ~resp == #getIndex()+1}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="{{*: num_alt}}" {{if ~resp == #getIndex()+1}}checked{{/if}}  disabled="" />
				<span>{{:descricao}}</span>
			</label>
		</div>
		{{* num_alt++;}}
		{{/for}}

		{{else}}

		<div class="option {{if 1 == resposta_oponente_1}}marcada{{/if}}{{if pergunta.resposta == 1}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="1" {{if pergunta.resposta == 1}}checked{{/if}} disabled/>
				<span>Verdadeiro</span>
			</label>
		</div>
		<div class="option {{if 2 == resposta_oponente_1}}marcada{{/if}}{{if pergunta.resposta == 2}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="2" {{if pergunta.resposta == 2}}checked{{/if}}  disabled/>
				<span>Falso</span>
			</label>
		</div>

		{{/if}}
	</div>
</div>
{{* num_per++;}}
{{/for}}

{{else}}

{{for perguntas}}
<div class="corpo-pergunta" id="corpo-pergunta-{{*: num_per}}">
	<p class="pergunta">
		{{:pergunta.enunciado}}
	</p>
	<div class="options-pergunta">
		

		{{if pergunta.tipo == 1}}

		{{* window.num_alt = 1;}}
		{{for pergunta.alternativas ~resp=pergunta.resposta ~ru=resposta_oponente_2}}
		<div class="option {{if #getIndex()+1 == ~ru}}marcada{{/if}}{{if ~resp == #getIndex()+1}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="{{*: num_alt}}" {{if ~resp == #getIndex()+1}}checked{{/if}}  disabled="" />
				<span>{{:descricao}}</span>
			</label>
		</div>
		{{* num_alt++;}}
		{{/for}}

		{{else}}

		<div class="option {{if 1 == resposta_oponente_2}}marcada{{/if}}{{if pergunta.resposta == 1}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="1" {{if pergunta.resposta == 1}}checked{{/if}} disabled/>
				<span>Verdadeiro</span>
			</label>
		</div>
		<div class="option {{if 2 == resposta_oponente_2}}marcada{{/if}}{{if pergunta.resposta == 2}}-certa{{/if}}">
			<label>
				<input class="with-gap" name="resposta{{*: num_per}}" type="radio" value="2" {{if pergunta.resposta == 2}}checked{{/if}}  disabled/>
				<span>Falso</span>
			</label>
		</div>

		{{/if}}
	</div>
</div>
{{* num_per++;}}
{{/for}}

{{/if}}

<div class="div-btn-continuar">
	<a id="continuar" class="waves-effect waves-light btn btn-pergunta"><i class="material-icons left">touch_app</i>Confirmar</a>
</div>

<script type="text/javascript">
	// $("#nav").addClass('hide');

	var p = 0;
	var qtd_perguntas = {{:#data.perguntas.length}};

	var perguntas = {{tostr:perguntas}};

	console.log('m dados');
	console.log(perguntas);

	var containers = $(".corpo-pergunta");

	containers.css({
		display: 'none'
	});

	containers.first().css({
		display: 'block'
	});

	$("#continuar").click(function(event) {
		if (p < qtd_perguntas - 1) {
			p++;
			$("#qtn_atual").html(p + 1);
			containers.css({
				display: 'none'
			});
			$("#corpo-pergunta-" + p).css({
				display: 'block'
			});
		} else {
			location.hash = '#batalhas_1';
		}
	});
</script>