<style>
    .titulo-header {
        margin-top: 5%;
        text-align: center;
        color: #26a69a;
        font-weight: 500;
        right: 0;
        left: 0;
        font-size: 1.2rem;
    }

    #container_usuarios_ieducar {
        margin: 10px 0;
    }

    .container_usuario_ieducar_2 {
        padding: 10px 0px;
    }

    .foto_perfil_e_detalhes {
        display: flex;
    }

    .foto_perfil_e_detalhes .foto_perfil {
        margin-right: 6px;
    }

    .foto_perfil_e_detalhes .nome_e_detalhes .nome_usuario {
        color: #26a69a;
        font-weight: 500;
        font-size: 1rem;
    }

    .button_sou_eu {
        margin-top: 8px;
    }

    .button_nao_sou_eu {
        margin-top: 20px;
    }
</style>
<div class="titulo-header">Qual destes é você?</div>

<div id="container_usuarios_ieducar"></div>

<!--<button id="button_nao_sou_eu" class="btn-selecionar-pessoa button_nao_sou_eu btn white black-text" data-id-usuario-ieducar="0">Não sou nenhum-->
<!--destes-->
<!--</button>-->


<script>
    var container_usuarios_ieducar = $("#container_usuarios_ieducar");
    var btn_nao_sou_eu = $("#button_nao_sou_eu");
    container_usuarios_ieducar.html(loadingTemplateInsideElement.render());


    //getUsuariosIeducar();

    var response_confirmar_numero = getTempData("response_confirmar_numero");
    if (response_confirmar_numero.ieducar_users === []) {
        console.log("ieducar vazio")
    } else {
        console.log("tem no ieducar");
    }
    console.log("resposta_confirmar ", response_confirmar_numero);

    // window.location.hash = 'editar-nome-foto';
    if (response_confirmar_numero.users_final.length === 0) {
        window.location.hash = 'selecionar-escola';
    } else if (response_confirmar_numero.users_final.length === 1) {
        if (response_confirmar_numero.users_final[0].tipo === "ev") {
            setarUsuario(response_confirmar_numero.users_final[0]);
            window.location.hash = 'editar-nome-foto';
        } else {
            window.location.hash = 'selecionar-escola';
        }
    }

    renderUsuariosIeducar(response_confirmar_numero.users_final);

    function renderUsuariosIeducar(users) {
        if (users !== null) {
            var tmplt = $.templates("#template_usuarios_ieducar");
            var html = tmplt.render(users);
            container_usuarios_ieducar.html(html);
        }
    }

    $(".container_usuario_ieducar_2").click(function () {
        var id = $(this).attr('data-id');
        var tipo = $(this).attr('data-tipo');
        var u = getUsuarioById(id);
        console.log('id clicado ', id);
        console.log('tipo clicado ', tipo);
        console.log('by id ', u);
        setTempItem("user_selecionado", u);
        if (tipo === 'ev') {
            setarUsuario(u);
            window.location.hash = 'editar-nome-foto';
        } else
            window.location.hash = 'selecionar-escola';
    });

    function getUsuarioById(id) {
        var u = null;
        response_confirmar_numero.users_final.forEach(function (d) {
            if (d.id == id)
                u = d;
        });
        return u;
    }

    function renderUsuariosEv(users) {
        if (users !== null) {
            var tmplt = $.templates("#template_usuarios_ev");
            var html = tmplt.render(users);
            container_usuarios_ieducar.html(html);
        }
    }

    $(document).on("click", ".btn-selecionar-pessoa", function () {
        var id = $(this).attr("data-id-usuario-ieducar");
        console.log(id);
        listenerSelecionarPessoa(id);
    });

    function listenerSelecionarPessoa(id) {
        ajaxSelecionarPessoa(id);
    }

    function ajaxSelecionarPessoa(id) {
        $.ajax({
            url: host + 'app/selecionar-usuario-ieducar',
            dataType: 'json',
            data: {"id": id}
        })
            .done(function (d) {
                console.log("success");
                var dataJSON = convertToJSON(d);
                console.log(dataJSON);
            })
            .fail(function (d) {
                console.log("error");
                tratarRequestErro(d);
            })
            .always(function (d) {
                console.log("complete");
            });
    }

    function getUsuariosIeducar() {
        $.ajax({
            url: host + 'app/get-usuarios-ieducar',
            dataType: 'json'
        })
            .done(function (d) {
                console.log("success");
                var dataJSON = convertToJSON(d);
                console.log(dataJSON);
                if (dataJSON.usuarios_ieducar !== null && dataJSON.usuarios_ieducar.length > 0) {
                    renderUsuariosIeducar(dataJSON.usuarios_ieducar);
                } else {
                    if (dataJSON.usuario_sem_vinculo === null) {
                        // location.hash = "#selecionar-escola";
                        //btn_nao_sou_eu.hide();
                        //renderUsuariosEv(dataJSON.usuarios_ev);
                    } else {
                        getTokenUsuario(dataJSON.usuario_sem_vinculo.id);
                    }
                }
            })
            .fail(function (d) {
                console.log("error");
                tratarRequestErro(d);
            })
            .always(function (d) {
                console.log("complete");
            });
    }

    function getTokenUsuario(id) {
        $.ajax({
            url: host + 'app/get-token-usuario',
            dataType: 'json',
            data: {"id": id}
        })
            .done(function (d) {
                console.log("success");
                var dataJSON = convertToJSON(d);
                console.log(dataJSON);
                localStorage.setItem("TokenUserId", dataJSON.TokenUserId);
                setarUsuario(dataJSON.user);
                location.hash = "#editar-nome-foto";
            })
            .fail(function (d) {
                console.log("error");
                tratarRequestErro(d);
            })
            .always(function (d) {
                console.log("complete");
            });
    }
</script>
