<style>
    html {
        height: 100%;
    }

    body {
        position: relative;
        min-height: 100%;
        padding-bottom: 6rem;
    }

    .dropdown-content {
        z-index: 100;
    }
</style>
<div class="titulo-header">
    Qual escola?
</div>

<div class="grey-text center" style="font-size: 1.4rem; margin-top: 20px;">
    Por favor, utilize os campos para encontrar a escola.
</div>

<form id="form" class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <select id="estado" class="validate" required>
                <option value="" disabled selected>Selecione seu Estado</option>
                {{for estados}}
                <option value="{{:id}}">{{:nome}}</option>
                {{/for}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="cidade" class="validate" required disabled>
            <label for="cidade">Digite o nome da sua cidade</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="escola" type="text" class="validate" required disabled>
            <label for="escola">Digite o nome da sua escola</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="turma" type="text" class="validate" required disabled>
            <label for="turma">Digite qual a sua turma</label>
        </div>
    </div>
</form>

<div class="termos-footer">
    <a id="avancar" class="waves-effect waves-light btn" style="min-width: 250px;">Avançar</a>
</div>

<Script>
    var cidades = {};
    var escolas = {};

    var cidadeInput = $('#cidade');
    var escolaInput = $('#escola');
    var turmaInput = $('#turma');

    var elem = document.querySelector('select');
    var instance = M.Select.init(elem);

    var autocompleteCidadeElement = document.querySelector('#cidade');
    var instanceAutocompleteCidade = M.Autocomplete.init(autocompleteCidadeElement, {
        onAutocomplete: function (a) {
            console.log('completou cidade');
            console.log(a);
            var id = cidades[a + ' '];
            console.log(id);
            $.ajax({
                url: host + 'escola/getEscolasByCidade',
                data: {
                    idCidade: id
                }, success: function (d) {
                    var res = JSON.parse(d);
                    console.log(res);

                    var ele = {};
                    escolas = {};
                    $.each(res, function (index, value) {
                        ele[value.nome] = null;
                        escolas[value.nome] = value.id;
                    });
                    console.log(cidades);
                    instanceAutocompleteEscola.updateData(ele);
                }, error: function (d) {

                }
            });
        }
    });

    var autocompleteTurmaElement = document.querySelector('#turma');
    var instanceAutocompleteTurma = M.Autocomplete.init(autocompleteTurmaElement);

    var autocompleteEscolaElement = document.querySelector('#escola');
    var instanceAutocompleteEscola = M.Autocomplete.init(autocompleteEscolaElement, {
        onAutocomplete: function (a) {
            console.log('completou escola');
            console.log(a);
            var id = escolas[a];
            console.log(id);
            $.ajax({
                url: host + 'turma/getTurmasByEscola',
                data: {
                    idEscola: id
                }, success: function (d) {
                    var res = JSON.parse(d);
                    console.log(res);
                    var ele = {};
                    // escolas = {};
                    $.each(res, function (index, value) {
                        ele[value.nome] = null;
                        // escolas[value.nome] = value.id;
                    });
                    // console.log(cidades);
                    instanceAutocompleteTurma.updateData(ele);
                }, error: function (d) {

                }
            });
        }
    });


    $('#estado').change(function () {
        var val = $(this).val();
        cidadeInput.val('');
        escolaInput.val('');
        turmaInput.val('');
        console.log(val);
        $.ajax({
            url: host + 'cidade/getCidadesByEstadoId',
            data: {
                estado_id: val
            },
            success: function (d) {
                var res = JSON.parse(d);
                console.log(res);
                var ele = {};
                cidades = {};
                $.each(res, function (index, value) {
                    ele[value.nome] = null;
                    cidades[value.nome] = value.id;
                });
                console.log(cidades);
                instanceAutocompleteCidade.updateData(ele);
                $('#cidade').prop('disabled', false);
                console.log(ele);
            }, error: function (d) {
                console.log(d);
            }
        });
    });

    cidadeInput.change(function () {
        var val = $(this).val();
        console.log(val);
        if (val.length >= 4)
            $('#escola').prop('disabled', false);
    });

    escolaInput.change(function () {
        var val = $(this).val();
        console.log(val);
        if (val.length >= 4)
            turmaInput.prop('disabled', false);
    });

    $("#avancar").click(function () {
        if (cidadeInput.val() < 2){
            cidadeInput.focus();
            return;
        } if (escolaInput.val() < 2) {
            escolaInput.focus();
            return;
        } if (turmaInput.val() < 2) {
            turmaInput.focus();
            return;
        }
        localStorage.setItem('escola', escolaInput.val());
        localStorage.setItem('turma', turmaInput.val());
        window.location.hash = 'criar-perfil';
    });

</Script>