<script id="" type="text/x-jsrender">

</script>

<script id="template-menu-lateral" type="text/x-jsrender">
    <nav id="nav" class="nav center relative hide">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <span class="absolute-center" style="font-size: 1.5rem;"><a href="#inicio_1">EscolaVerde</a></span>
</nav>
<ul id="slide-out" class="sidenav nav">
    <li class="first-li">
        <div class="user-view">
            <div class="background">
            </div>
            <a>
                <div id="foto-perfil-menu" class="div-profile2 circle-img"
                {{if ~getUser().fotoPerfil != null}}
            style="background-image: url('{{getUrlFotoPerfil:~getUser().fotoPerfil}}')"
        {{/if}}></div>
            </a>
            <a href=""><span id="nome-menu" class="white-text name email">{{:nome}}</span></a>
        </div>
    </li>
    <li><a href="#inicio_1" class="option-menu"><i class="material-icons">group</i>Social</a></li>
    <li><a href="#batalhas_1" class="option-menu"><i class="mdi mdi-sword-cross mdi-24px"></i>Batalhas</a></li>
    <li><a href="#controle-dos-pais_1" class="option-menu"><i class="material-icons">remove_red_eye</i>Controle dos Pais</a>
    </li>
    <li><a href="#material-de-estudo_1" class="option-menu"><i class="material-icons">book</i>Material de Estudo</a>
    </li>
    <li><a href="#minha-escola_1" class="option-menu"><i class="material-icons">account_balance</i>Minha Escola</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect option-menu lighten-4" id="limpar"><i class="material-icons">exit_to_app</i>Sair</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li id="dados-user-menu" style="margin-left: 5px; word-break: break-all;"></li>
</ul>


</script>

<script id="template-comentario" type="text/x-jsrender">
	<div class="comentario">
		<div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
		<div class="comentario-txt-nome">
			<span class="nome-user">{{:nome}}</span>
			<span>{{:texto}}</span>
		</div>
	</div>




</script>

<script id="publicacao-inicio" type="text/x-jsrender">

    <div class="publicacao publicacao-{{:tipo}}-{{:id}}">
            <span class="hora-publicacao"><span style="display: block;">{{formataData:data}} </span>
            {{if ~isUser(id_usuario)}}
            <i style="display: block;" class="material-icons dropdown-trigger right" data-target='dropdown-{{:id}}'>more_vert</i></span>
        <ul id='dropdown-{{:id}}' class='dropdown-content'>
            <li><a class="delete-conteudo" data-id-conteudo="{{:id}}" data-tipo-conteudo="{{:t}}">Excluir</a></li>
        </ul>
        {{else}}
        </span>
        {{/if}}
        <div class="img-txt-publicacao">
            <div class="publicacao-image circle-img"
                 {{if usuario.fotoPerfil != null}}
                 style="background-image: url('{{getUrlFotoPerfil:usuario.fotoPerfil}}')"
                 {{/if}}
            ></div>
        <div class="usuario-e-txt-publicacao">
            <a {{if ~getUser().id == id_usuario}}{{else}} href="#perfil_1?{{:id_usuario}}" {{/if}} class="usuario-publicacao">{{:usuario.nome}}</a>
            <br>
            <span class="txt-publicacao">{{:descricao}}</span>
        </div>
    </div>
    <div class="midia-publicacao">
        {{if id != id}}
        {{if ~testMidiaIsImage(tipo)}}
        <img src="" class="responsive-img">
        {{else}}
        <video class="responsive-video" controls><source src="" type=""></video>
        {{/if}}
        {{/if}}
    </div>
    <div class="container-comentarios">
        <div id="div-comentarios-{{:tipo}}{{:id}}" class="div-comentarios">
        {{for comentarios}}
        <div class="comentario">
            <div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
            <div class="comentario-txt-nome">
                <span class="nome-user">{{:nome}}</span>
                <span>{{:texto}}</span>
            </div>
        </div>
        {{/for}}
    </div>
    <div class="div-comentar">

        <div class="circle-img"  {{*:convertFotoPerfilBackgroundImg(user)}}></div>
        <textarea id="comentar-{{:t}}-{{:id_conteudo}}" class="materialize-textarea input-comentar" placeholder="Comentar..."></textarea>
        <i id="" data-id-conteudo="{{:id_conteudo}}" data-tipo-conteudo="{{:t}}" class="btn-comentar mdi mdi-comment-text-outline mdi-24px" style="color: gray;"></i>
    </div>
</div>
</div>



</script>

<script id="publicacao-perfil" type="text/x-jsrender">
		<div class="post-perfil">
			<span class="data">{{formataData:data}}</span>
			<div class="post-detalhes">
				<div class="img-perfil circle-img" 
				{{if foto_perfil != null}}
				style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil}}')"
				{{/if}}
				></div>
				<div class="publicacao-detalhes">
					<span class="nome">{{:nome_usuario}}</span>
					<span class="txt">{{:txt}}</span>
					
				</div>
			</div>
			<div class="midia-publicacao">
				{{if nome_midia != null}}
				{{if ~testMidiaIsImage(tipo_midia)}} 
				<img src="{{*:host}}app/showMidiaPublicacao?nome={{:nome_midia}}" id="img-pub" class="responsive-img">
				{{else}}  
				<video class="responsive-video" controls><source src="{{*:host}}app/showMidiaPublicacao?nome={{:nome_midia}}" id="src-video" type="{{:tipo_midia}}"></video>
					{{/if}}
					{{/if}}
				</div>
			<div class="container-comentarios">
                <div id="div-comentarios-{{:t}}{{:id_conteudo}}" + tipo_conteudo + id_conteudo" class="div-comentarios">
                    {{for comentarios}}
                    <div class="comentario">
                        <div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
                        <div class="comentario-txt-nome">
                            <span class="nome-user">{{:nome}}</span>
                            <span>{{:texto}}</span>
                        </div>
                    </div>
                    {{/for}}
                </div>
                <div class="div-comentar">

                    <div class="circle-img"  {{*:convertFotoPerfilBackgroundImg(user.foto_perfil)}}></div>
                    <textarea id="comentar-{{:t}}-{{:id_conteudo}}" class="materialize-textarea input-comentar" placeholder="Comentar..."></textarea>
                    <i id="" data-id-conteudo="{{:id_conteudo}}" data-tipo-conteudo="{{:t}}" class="btn-comentar mdi mdi-comment-text-outline mdi-24px" style="color: gray;"></i>
                </div>
            </div>
				<div class="divider"></div>
			</div>




</script>

<script id="item-ranking" type="text/x-jsrender">
			<div class="user-ranking">
				<div class="container container-item-rank">
					<span class="position">{{:#getIndex()+1}}°</span>
					<div class="img-user-batalha circle-img"
					{{if fotoPerfil != null}}
						 style="background-image: url('{{getUrlFotoPerfilByFotoPerfil:fotoPerfil}}')"
						 {{/if}}
					></div>
					<div class="nme-colegio">
						<a href="#perfil_1?{{:id}}" class="nome">{{:nome}}</a>
						<span class="escola">{{:nome_escola}}</span>
					</div>
					<span class="pts">{{if pontos == null}}0{{else}}{{:pontos}}{{/if}} pts</span>
				</div>
				
			</div>




</script>

<script id="template-item-conteudo" type="text/x-jsrender">

			<div class="container-conteudo ver-video-conteudo" data-id="{{:id}}" data-nome-midia="{{:nome_midia}}">
				<img src="img/video2.png">
				<div class="container-desc-video">
					<span class="titulo-video">{{:titulo}}</span>
					<span class="descricao-video">{{:descricao}}</span>
				</div>
				<span>Por: {{:id_usuario}}</span>
				<div class="clear"></div>
			</div>




</script>

<script id="template-acao-agenda" type="text/x-jsrender">
			<div class="acao-agenda">
				<div class="foto-descricao">
					<div class="circle-img" {{fotoPerfil:foto_perfil}}></div>
					<div class="tipo-descricao">
						<span class="tipo">{{:titulo}}</span><br>
						<span class="descricao">{{:descricao}}</span>
					</div>
				</div>
				<div class="data-acao">
					<span class="dia-acao">{{getDataAgenda:data}}</span><br>
					<span class="hora-acao">às {{getHora:data}} hrs</span>
				</div>
			</div>




</script>

<script id="template-item-sua-vez" type="text/x-jsrender">
			<div class="div-detalhes-batalha">
				<span class="data-batalha">{{formataData:data}}</span>
				<div class="div-pts-batalha">
					<div class="div-batalha-user-1">
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo1 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
						{{/if}}
						></div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span>
							<!-- <span class="pts">120 pts</span> -->
						</div>
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
					</div>
					<div class="div-batalha-user-2">
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span>
							<!-- <span class="pts">380 pts</span> -->
						</div>
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo2 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
						{{/if}}
						></div>
					</div>
				</div>
				<div class="divider"></div>
				<a class="revisar-batalha btn-responder" href="#continuar-batalha?{{:id}}" data-id-batalha="{{:id}}"><span><i class="material-icons small">edit</i>Responder</span></a>
			</div>




</script>

<script id="template-item-aguardando" type="text/x-jsrender">
			<div class="div-detalhes-batalha">
				<span class="data-batalha">{{formataData:data}}</span>
				<div class="div-pts-batalha">
					<div class="div-batalha-user-1">
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo1 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
						{{/if}}
						></div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span>
							<!-- <span class="pts">120 pts</span> -->
						</div>
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
					</div>
					<div class="div-batalha-user-2">
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span>
							<!-- <span class="pts">380 pts</span> -->
						</div>
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo2 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
						{{/if}}
						></div>
					</div>
				</div>
			</div>




</script>

<script id="template-item-finalizadas" type="text/x-jsrender">
			<div class="div-detalhes-batalha">
				<span class="data-batalha">{{formataData:data}}</span>
				<div class="div-pts-batalha">
					<div class="div-batalha-user-1">
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo1 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo1}}')"
						{{/if}}
						></div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_1}}</span><span class="pts">120 pts</span></div>
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo1}}</div>
					</div>
					<div class="div-batalha-user-2">
						<div class="pts-batalha teal-text text-lighten-1">{{:qtd_certas_opo2}}</div>
						<div class="nome-user"><span class="nome teal-text text-lighten-2">{{firstName:nome_oponente_2}}</span><span class="pts">380 pts</span></div>
						<div class="img-user-batalha circle-img"
						{{if foto_perfil_opo2 != null}}
						style="background-image: url('{{*:host}}app/showImage?nome={{:foto_perfil_opo2}}')"
						{{/if}}
						></div>
					</div>
				</div>
				<div class="divider"></div>
				<a class="revisar-batalha btn-revisar" href="#revisar-batalha?{{:id}}" data-id-batalha="{{:id}}"><span><i class="material-icons small">local_library</i>Revisar Batalha</span></a>
			</div>




</script>


<script id="template_usuarios_ieducar" type="text/x-jsrender">
    <div class="container_usuario_ieducar_2" data-id="{{:id}}" data-tipo="{{:tipo}}">
    <div class="foto_perfil_e_detalhes">
        <div class="foto_perfil circle-img " {{if fotoPerfil !== null && fotoPerfil !== undefined}}style="background-image: url('{{getUrlFotoPerfil:fotoPerfil}}')"{{/if}}></div>
        <div class="nome_e_detalhes">
            <div class="nome_usuario">{{:nome}}</div>
            <div class="detalhes"></div>
        </div>
    </div>
    <button class="btn-selecionar-pessoa-ieducar button_sou_eu waves-effect waves-light btn" data-id-usuario-ieducar="{{:id}}">Sim, sou eu</button>
</div>


</script>

<script id="template_usuarios_ev" type="text/x-jsrender">
    <div class="container_usuario_ieducar_2">
    <div class="foto_perfil_e_detalhes">
        <div class="foto_perfil circle-img " {{if fotoPerfil != null}}style="background-image: url('{{getUrlFotoPerfil:~getUser().fotoPerfil}}')"{{/if}}></div>
        <div class="nome_e_detalhes">
            <div class="nome_usuario">{{:nome}}</div>
            <div class="detalhes">
            {{if escola !== null}}{{:escola.nome}}
            <br>
            {{if turma !== null}}Turma: {{:turma.nome}}{{/if}}
            {{/if}}
            </div>
        </div>
    </div>
    <button class="btn-selecionar-pessoa-ev button_sou_eu_ev waves-effect waves-light btn" data-id-usuario-ev="{{:id}}">Sim, sou eu</button>
</div>


</script>
