@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* fallback */
/*@font-face {*/
  /*font-family: 'Material Icons';*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*src: url(../fonts/roboto/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');*/
/*}*/

/*.material-icons {*/
  /*font-family: 'Material Icons';*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-size: 24px;*/
  /*line-height: 1;*/
  /*letter-spacing: normal;*/
  /*text-transform: none;*/
  /*display: inline-block;*/
  /*white-space: nowrap;*/
  /*word-wrap: normal;*/
  /*direction: ltr;*/
  /*-webkit-font-feature-settings: 'liga';*/
  /*-webkit-font-smoothing: antialiased;*/
/*}*/
