html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 10px;
}
html, body {
    overflow-x: hidden;
}
.container-loading {
    padding: 8px 0;
    display: flex;
    justify-content: center;
}
.titulo-header {
    margin-top: 5%;
    text-align: center;
    color: #26a69a;
    font-weight: 500;
    right: 0;
    left: 0;
    font-size: 1.5rem;
}

.termos-footer {
    position: absolute;
    bottom: 5%;
    text-align: center;
    right: 5%;
    left: 5%;
    font-size: 1.1rem;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
}

.relative {
    position: relative;
}


.circle-img {
    width: 40px;
    height: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d1d1d1 !important;
    border-radius: 100%;
    background-color: #d1d1d180;
    background-image: url('/img/default-user-image.png');
    flex-shrink: 0;
}
.div-profile2 {
    width: 50px;
    height: 50px;
}
#nome-menu {
    margin-top: 10px;
}

.first-li {
    background-image: url('../img/ev-4.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right;
}
#nav, .user-view .background {
    background-color: #549788;
}

#container-qr-code #btn-cancelar-qr {
    width: 60%;
    color: black;
    background-color: white;
}
.div-btn-cancelar-qr {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.element{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4) ;
  
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 15% 25%, 85% 25%, 85% 70%, 10% 70%, 10% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 15% 25%, 85% 25%, 85% 70%, 10% 70%, 10% 100%, 100% 100%, 100% 0%);
  
}
.material-estudo-img {
    background-image: url('https://ei.esbocandoideias.com/wp-content/uploads/2017/01/unnamed-8.png');
}