.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.div-profile {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: url('img/user.png') center;
	background-size: 100% !important;
	background-repeat: no-repeat;
}